body {
    width: 100%;
    overflow-x: hidden;
}

.about_content {
    padding-top: 265px;
    background: url(../images/about_bg.jpg) no-repeat top center;
    background-size: 100% auto;
    padding-left: 5%;
    padding-right: 5%;
}

.inside_content {
    padding-left: 9%;
    padding-right: 9%;
}

.page_title {
    padding-right: 33%;
    font-size: 4.2vw;
    font-weight: 900;
    line-height: 0.9;
    margin-bottom: 7%;
}

.page_title span {
    color: #b3853d;
    display: block;
}

.banner_content p {
    font-size: 1vw;
    line-height: 1.4;
    color: #4b4b4b;
    font-family: "Roboto Slab", serif;
    padding-right: 15%;
}

.about-content {
    margin-top: 7%;
    position: relative;
    margin-bottom: 7%;

    transform: translateY(100px);
    -webkit-transform: translateY(100px);
}

.about-content img {
    width: 100%;
    height: auto;
    opacity: 0.7;
    display: block;
}

.about-content .about-tag {
    position: relative;
    left: 0;
    top: 20%;
    z-index: 99;
    line-height: 1.8;
}

.about-tag-text {
    color: white;
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
    margin-top: 30px;
    font-family: "Roboto Slab", serif;
    width: 60%;
}

.about-tag-text span {
    font-family: "Roboto Slab", serif;
    font-size: 1.5vw;
    line-height: 1.4;
}

.join-team-btn-outline {
    margin-top: 20px;
}

.join-team-btn-outline .btn-1 {
    background: transparent;
    font-weight: 300;
}

.about-content .about-tag span.about-header {
    color: #fff;
    font-size: 60px;
    line-height: 1.2;
    display: table;
    margin: 2px 0;
    font-weight: 600;
}

.excellence-banner {
    position: relative;
    padding: 9% 0 9%;
    margin-bottom: 0%;
}

.eb-text .eb-heading {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    font-size: 15vw;
    text-align: center;
    color: #ebeaea;
    line-height: 1;
    opacity: 0.4;
}

.eb-sub {
    text-align: right;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    color: #ebeaea;
    font-size: 3vw;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 1px;
    margin-right: 2.3%;
    opacity: 0.4;
}

.eb-image {
    position: absolute;
    text-align: center;
    width: 30vw;
    z-index: 1;
    left: 50%;
    margin-left: -15vw;
    margin-top: -28%;
}

.eb-image img {
    width: 100%;
    max-width: 100%;
}

.eb-image svg {
    position: absolute;
    top: 3px;
    left: 0;
    z-index: -1;
}

.progresss {
    transform: rotate(90deg);
}

.animate-circle {
    animation: progress 3s forwards;
}

.outer-circle {
    stroke-dasharray: 339.292;
    stroke-dashoffset: 339.292;
}

@keyframes progress {
    from {
        stroke-dashoffset: 390;
    }

    to {
        stroke-dashoffset: 0;
    }
}

.section-heading {
    font-size: 3.125vw;
    line-height: 1.2;
    font-weight: 900;
    margin-bottom: 1%;
}

.section-heading.center {
    text-align: center;
}

.process_section {
    padding: 20px 0;
    margin-bottom: 10px;
}

.process-text-wrapper {
    max-width: 950px;
    margin: 0 auto;
}

.js-link-list {
    margin-top: -50px;
}

.process_section ol {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin-bottom: 50px;
    position: relative;
}

.process_section .col {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    max-width: 100%;
    padding: 0;
}

.process_list_item {
    position: relative;
    padding-top: 100%;
    margin-top: 100%;
    cursor: pointer;
}

.process_list_item:before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border: 1px solid #4c0f1b;
    border-radius: 100%;
    opacity: 0.12;
    transition-property: left, right, top, bottom, border-color, opacity;
}

.process_list_item:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0.5);
    transform: translate(-50%, -50%) scale(0.5);
    width: 16px;
    height: 16px;
    border: 1px solid #4c0f1b;
    border-radius: 16px;
    background: #4c0f1b;
    transition-property: background-color, -webkit-transform;
    transition-property: transform, background-color;
    transition-property: transform, background-color, -webkit-transform;
}

.process_list span {
    position: absolute;
    left: -10px;
    right: -10px;
    bottom: 50%;
    padding-bottom: 94%;
    color: #4c0f1b;
    font-size: 22px;
    text-align: center;
}

.process_list li:nth-child(2n) span {
    bottom: auto;
    top: 50%;
    padding-top: 94%;
    padding-bottom: 0;
}

.process_list {
    max-width: 950px;
    padding-bottom: 120px;
    margin-left: auto;
    margin-right: auto;
}

.process_list li span {
    overflow: hidden;
}

.process_list li span:before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 1px;
    background: #1fa3cb;
    transition: all ease 0.3s;
    height: 0;
}

.process_list li:nth-child(2n) span:before {
    top: 0;
    content: "";
    transition: all ease 0.3s;
}

.process_list span:after {
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 1;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    transition: all ease 0.3s;
}

.is_active .process_list_item span {
    color: #b3853d;
}

.is_active .process_list_item:before {
    left: -20px;
    right: -20px;
    bottom: -20px;
    top: -20px;
    opacity: 1;
    transition: all ease 0.3s;
}

.is_active .process_list_item:after {
    background-color: #ffffff;
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    transition: all ease 0.3s;
}

.process_list li.is_active span:before {
    content: "";
    position: absolute;
    bottom: -37px;
    left: 50%;
    width: 1px;
    background: #b3853d;
    transition: all ease 0.3s;
    height: 100%;
}

.process_list li.is_active:nth-child(2n) span:before {
    bottom: 0px;
    top: -37px;
    height: 100%;
    content: "";
    transition: all ease 0.3s;
}

.process_text {
    min-height: 7rem;
    overflow: hidden;
}

.process_text li {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: all ease 0.3s;
    width: 100%;
    text-align: center;
}

.process_text li p {
    font-family: "Roboto Slab", serif;
    font-size: 1.5vw;
    line-height: 1.4;
    padding: 0 10%;
}

.process_text li.is_active {
    position: relative;
    visibility: visible;
    opacity: 1;
    transition: all ease 0.3s;
}

/* process section ends */
.image_section_center {
    background: rgba(0, 0, 0, 0.5490196078431373);
    width: 100vw;
    height: 100vh;
    left: 50%;

    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);

    padding: 0 16.8vw;
    position: relative;
    overflow: hidden;
}

.image_section_center video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    object-fit: cover;
    -webkit-object-fit: cover;
    z-index: 0;
    opacity: 0.2;
}

.image_section_center img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    object-fit: cover;
    -webkit-object-fit: cover;
    z-index: 0;
}

.bottom {
    position: absolute;
    width: 100%;
    bottom: 5%;
    left: 0;
    text-align: center;
    color: #fff;
}

.scroll_down {
    font-size: 30px;
    line-height: 32px;
    color: #fff;
    font-family: "Roboto Slab", serif;
    text-decoration: none;
    background: url(../images/down-white.png) no-repeat top center;
    background-size: 17px auto;
    padding-top: 80px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.scroll_down:hover {
    background-position: top 10px center;
}

.scroll_down span {
    font-family: "Roboto Slab", serif;
    opacity: 0.6;
    transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
}

.scroll_down:hover span {
    opacity: 1;
}

.work-with h2 {
    font-size: 3.125vw;
    line-height: 1.2;
    font-weight: 900;
    margin-bottom: 5%;
}

.work-grid {
    margin-bottom: 7%;
}

.work-grid .work-box {
    width: 30%;
}

.work-grid .work-box .work-head {
    margin-bottom: 7%;
}

.work-grid .work-box span {
    font-size: 0.9vw;
    color: #4b4b4b;
    line-height: 1.8;
    margin-top: 20px;
    font-family: "Roboto Slab", serif;
}

.work-grid .work-box h3 {
    font-size: 1.125vw;
    line-height: 1.2;
    font-weight: 900;
    margin: 0;
}

.work-grid .work-box h3 span {
    display: block;
    color: #b3853d;
    font-size: 3.125vw;
    line-height: 1.2;
    font-family: "Roboto", serif;
}

.work-with p {
    font-size: 0.8vw;
    color: #4b4b4b;
    line-height: 1.4;
    margin-bottom: 0.8em
}

.work-with .no-bottom {
    margin-bottom: 1%;
    padding: 0;
}

.team-info {
    padding-top: 0%;
    background: #f1f3f7;
    background: -moz-linear-gradient(top, #f1f3f7 0%, #ffffff 100%);
    background: -webkit-linear-gradient(top, #f1f3f7 0%, #ffffff 100%);
    background: linear-gradient(to bottom, #f1f3f7 0%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f3f7', endColorstr='#ffffff', GradientType=0);
    position: relative;
    padding-left: 9%;
    margin-bottom: 1%;
}

.team-content {
    width: 67%;
    padding-left: 9%;
    padding-top: 11%;
}

.team-content.office {
    width: 67%;
    padding-left: 9%;
    padding-top: 0%;
}

.team-content > * {
    max-width: 800px;
}

.team-content h2 {
    font-size: 3.125vw;
    line-height: 1.2;
    font-weight: 900;
    margin-bottom: 2%;
}

.team-content p {
    font-size: 1.5vw;
    color: #4b4b4b;
    line-height: 1.4;
    margin-bottom: 10%;
}

.team-content .btn-link {
    color: #20a4cc;
    border: 1px solid #20a4cc;
    font-size: 28px;
    line-height: 30px;
    border-radius: 10px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 20px 30px;

    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    text-decoration: none;
}

.people-main-image img {
    max-width: 100%;
}

.team-images .small-images {
    position: absolute;
    z-index: -1;
    top: 38%;
}

.img-row img {
    height: 160px;
    margin-right: 6px;
    margin-bottom: 4px;
}

.team-content .btn-link:hover {
    color: #fff;
    background: #20a4cc;
}

.honors {
    margin-bottom: 5%;
}

.honors h2 {
    font-size: 3.125vw;
    line-height: 1.2;
    font-weight: 900;
    margin-bottom: 2%;
}

.honors p {
    font-size: 1.5vw;
    color: #4b4b4b;
    line-height: 1.4;
    font-family: "Roboto Slab", serif;
    margin-bottom: 5%;
}

.honors .honors-grid {
    margin-top: 5%;
}

.honors .honors-grid .honor-box {
    width: 26%;
}

.honors .honors-grid h2 {
    font-size: 4.895vw;
    font-weight: 700;
    line-height: 1;
    padding: 0;
}

.honors .honors-grid .honor-box p {
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 20px;
    font-size: 1vw;
}

.slider-for .flex .thumb {
    text-align: center;
    width: 24%;
}

.slider-for .flex .quote-content {
    width: 62%;
}

.thub_image {
    width: 100%;
    padding-top: 100%;
    border-radius: 5000px;
    position: relative;
    overflow: hidden;
    margin-bottom: 45px;
}

.thub_image img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    border-radius: 5000px;
    object-fit: cover;

    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.slider-for .flex .thumb p {
    text-align: center;
    font-size: 1.145vw;
    color: #363636;
    line-height: 1.2;
    font-family: "Roboto Slab", serif;
}

.slider-for .flex .thumb p .blue {
    color: #20a4cc;
    font-size: 1.25vw;
    margin-bottom: 10px;
    display: block;
}

.slider-for .flex .quote-content p {
    font-size: 1.145vw;
    line-height: 1.8;
    color: #4b4b4b;
}

.slider-for .flex .quote-content > *:first-child {
    margin-top: 15%;
}

.slider-quotes {
    position: relative;
    margin-top: 7%;
    margin-bottom: 5%;
}

.slider-quotes .client_title {
    position: absolute;
    width: 100%;
    top: 0;
    text-align: left;
    padding-left: 38%;
}

.slider-nav {
    padding-left: 38%;
    margin: 0 -18px;
    padding-right: 156px;
}

.slider-nav .image-thumb {
    padding: 0 18px;
}

.slider-nav .slick-prev {
    display: none !important;
}

.slider-nav .slick-next {
    position: absolute;
    height: 48px;
    width: 48px;
    top: 50%;
    right: 54px;
    margin-top: -24px;

    font-size: 0;
    border: 0;
    line-height: 0;
    display: block;
    background: transparent;

    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

.slider-nav .slick-next:hover {
    opacity: 0.5;
}

.slider-nav .thub_image {
    margin-bottom: 0;
    border: 1px solid transparent;
    background: #fff;
    cursor: pointer;

    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.slider-nav .slick-current .thub_image {
    border: 1px solid 20a4cc;
    background: #20a4cc;
}

.slider-nav .thub_image img {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.slider-nav .thub_image:hover img {
    opacity: 0.7;
}

.slider-nav .slick-current .thub_image img {
    opacity: 0.7;
}

.slider-nav .slick-next:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;

    background: url(../images/arrow-slider.png) no-repeat center center;
    background-size: 35px auto;
}

body .serif {
    font-family: "Roboto Slab", serif;
}

.office_section {
    margin-bottom: 8%;
}

.office_section .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 7px;
}

.office_section .column {
    width: 33%;
    width: calc(100% / 3);
    padding: 0 7px;
}

.office_section .column img {
    margin-top: 14px;
    vertical-align: middle;
    max-width: 100%;
    min-width: 100%;
}

.team-content.office {
    width: 67%;
    position: relative;
    left: 9%;
    top: 8%;
}

.clients_section_outer {
    background: url("../images/world_map.png") no-repeat;
    background-size: cover;
    padding-bottom: 3%;
    background-position: center;
    padding-top: 5px;
    margin-bottom: 50px;
}

.slider-outer {
    background: white;
    box-shadow: 0px 0px 20px 7px rgba(0, 0, 0, 0.06);
    height: 400px;
    position: relative;
    margin: 100px 0;
}

.testimonial-slider {
    position: absolute;
    height: 126%;
    background: white;
    box-shadow: 0px 0px 20px 7px rgba(0, 0, 0, 0.06);
    width: 90%;
    margin-left: 5%;
    margin-top: -4.5%;
    overflow: hidden;
}

.testimonial-slider:before {
    content: "";
    background: url("../images/quote-left.png");
    width: 71px;
    height: 56px;
    position: absolute;
    left: 50px;
    top: -10px;
}

.testimonial-slider:after {
    content: "";
    background: url("../images/quote-right.png");
    width: 70px;
    height: 55px;
    position: absolute;
    right: 50px;
    bottom: -15px;
}

.testimonial-inner {
    text-align: center;
    width: 63%;
    margin: 10% auto;
    font-size: 21px;
    -webkit-font-smoothing: antialiased;
    line-height: 1.4;
}

.testimonial-client-info {
    margin-top: 30px;
}

.client-name {
    color: #20a4cc;
}

.slick-dots {
    position: absolute;
    bottom: 27px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 10px;
    height: 11px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:before {
    font-family: "slick";
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    content: "";
    text-align: center;
    opacity: 0.25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #000;
    border-radius: 50%;
}

.slick-dots li.slick-active button:before {
    opacity: 0.75;
    color: black;
}

.inner-circle {
    visibility: hidden;
}

@media (max-width: 1400px) {
    .work-grid .work-box h3 {
        font-size: 40px;
    }

    .work-grid .work-box h3 span {
        font-size: 40px;
    }

    .process_list span {
        font-size: 19px;
    }
}

@media (max-width: 1000px) {
    .work-grid .work-box h3 {
        font-size: 30px;
    }

    .work-grid .work-box h3 span {
        font-size: 30px;
    }

    .work-grid .work-box span {
        font-size: 21px;
    }

    .work-with p {
        font-size: 21px;
        line-height: 30px;
    }
}

@media (min-width: 1550px) {
    .img-row img {
        height: 200px;
    }
}

@media (max-width: 900px) {
    .img-row img {
        height: 100px;
    }
}

@media (max-width: 767px) {
    .inner-circle {
        visibility: visible;
    }

    .process_section {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 600px) {
    .office_section .column {
        flex: 100%;
        max-width: 100%;
    }
}

@media (min-width: 1000px) {
    .process_text li p {
        padding: 10px;
    }

}

@media (min-width: 768px) and (max-width: 1024px) {
    .honors .honors-grid .honor-box {
        width: 100%;
    }

    .inside_content {
        padding-left: 0%;
        padding-right: 0%;
    }

    .banner_content p {
        font-size: 21px;
        line-height: 27px;
    }

    .image_section_center {
        height: auto;
        padding: 50px 16.8vw;
    }

    .about-tag-text span {
        font-size: 21px;
        line-height: 27px;
    }

    .process_text li p,
    .team-content p,
    .honors p {
        font-size: 21px;
        line-height: 27px;
    }

    .testimonial-inner {
        font-size: 18px;
    }

    .about_content {
        padding-top: 190px;
        padding-left: 4%;
        padding-right: 4%;
    }

    .honors .honors-grid img {
        max-width: 100%;
        height: auto;
    }

    .slider-nav {
        padding-right: 110px;
    }

    .slider-nav .slick-next {
        width: 30px;
        height: 30px;
        margin-top: -15px;
    }

    .slider-nav .slick-next::after {
        background-size: auto 100%;
    }
}

.honors .honors-grid .image {
    order: 3;
    margin-top: 20px;
}

@media (min-width: 0px) and (max-width: 767px) {
    .procedure-lists li {
        font-size: 14px;
        line-height: 24px;
    }

    .process-table {
        margin-bottom: 0px;
    }

    .calculate-table h2 {
        font-size: 24px;
    }

    .slick-dots li button:before {
        background: transparent;
    }

    .clients_section_outer {
        margin-bottom: 0px;
    }

    .clients_section_outer .slick-dots li button:before {
        background: #000;
    }

    .clients_section_outer .slick-dots {
        bottom: 45px;
    }

    .slick-dots li button {
        background: transparent;
    }

    .process_list {
        padding-bottom: 40px;
    }

    .process_section ol {
        margin-bottom: 80px;
    }

    .process_list span {
        font-size: 14px;
        line-height: 1.4;
    }

    .work-mobile .process_text li p {
        font-size: 13px;
        text-align: left;
        padding: 0;
        line-height: 22px;
    }

    .process_text li p br {
        display: none;
    }

    .section-heading {
        font-size: 27px;
    }

    .section-heading.work-process-heading {
        text-align: left;
    }

    .testimonial-slider:before {
        left: 10px;
    }

    .testimonial-slider:after {
        right: 10px;
    }

    .testimonial-inner {
        text-align: center;
        width: 100%;
        margin: 10% auto;
        font-size: 16px;
        -webkit-font-smoothing: antialiased;
    }

    .testimonial-slider {
        position: relative;
        box-shadow: none;
        padding: 15% 0;
    }

    .slider-outer {
        height: auto;
        margin: 40px 0;
    }

    .office_section {
        margin-bottom: 15%;
    }

    .about_content {
        padding-top: 50px;
        padding-left: 5%;
        padding-right: 5%;
    }

    .inside_content {
        padding-left: 0;
        padding-right: 0;
    }

    .page_title {
        font-size: 30px;
        line-height: 1em;
        padding-right: 0;
    }

    .banner_content p {
        font-size: 14px;
        line-height: 26px;
        padding-right: 0%;
    }

    .about-content .about-tag {
        top: 10%;
    }

    .about-content .about-tag span.about-header {
        font-size: 28px;
        line-height: 30px;
    }

    .scroll_down {
        font-size: 18px;
        line-height: 20px;
        padding-top: 40px;
        background-size: auto 30px;
    }

    .work-with h2 {
        font-size: 21px;
        line-height: 1.4em;
        margin-bottom: 15px;
    }

    .work-grid {
        display: block;
    }

    .work-grid .work-box {
        width: 100%;
    }

    .work-grid .work-box h3 span {
        margin: 0;
    }

    .work-grid .work-box h3,
    .work-grid .work-box h3 span {
        font-size: 18px;
        line-height: 1.2em;
    }

    .work-grid .work-box span {
        font-size: 12px;
        margin: 0;
    }

    .work-grid .work-box .work-head {
        margin-bottom: 15px;
    }

    .work-with p {
        font-size: 14px;
        line-height: 1.4em;
    }

    .work-with .slick-dots {
        list-style: none;
        display: block;
        margin: 0;
        padding: 0;
        text-align: center;
        top: 97%;
    }

    .work-with .slick-dots li {
        display: inline-block;
        vertical-align: top;
        text-align: center;
        margin: 0 10px;
    }

    .work-with .slick-dots li button {
        width: 9px;
        height: 9px;
        border: 1px solid #b3853d;
        /* background: #24aed2; */
        display: block;
        padding: 0;
        font-size: 0;
        line-height: 0;
        text-indent: -999px;
        border-radius: 50%;
    }

    .work-with .slick-dots li.slick-active button {
        background: #4c0f1b;
    }

    .team-info {
        padding-top: 0;
        padding-left: 0;
    }

    .people-main-image {
        background: url("../images/people/main-img.png") no-repeat;
        background-size: cover;
        height: 440px;
        background-position: 86%;
    }

    .team-images .small-images {
        width: 100%;
        position: static;
    }

    .img-row {
        text-align: center;
    }

    .img-row img {
        height: 86px;
    }

    .team-content.office {
        padding-top: 0 !important;
    }

    .people-main-image img {
        display: none;
    }

    .team-content,
    .team-content.office {
        position: static;
        width: 100%;
        transform: none;
        -webkit-transform: none;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 50px;
    }

    .team-content h2 {
        font-size: 21px;
        line-height: 1.4em;
        margin-bottom: 15px;
    }

    .team-content p {
        font-size: 16px;
        line-height: 26px;
    }

    .team-content > * {
        width: auto;
        max-width: none;
    }

    .honors h2 {
        font-size: 21px;
        line-height: 1.4em;
        margin-bottom: 15px;
    }

    .honors p {
        font-size: 12px;
        line-height: 1.4em;
    }

    .honors-grid {
        display: block;
    }

    .honors .honors-grid {
        margin-top: 30px;
    }

    .honors .honors-grid:not(.slick-initialized) .honor-box + .honor-box {
        clear: both;
    }

    .honors-grid .slick-dots {
        list-style: none;
        display: block;
        margin: 0;
        padding: 0;
        text-align: center;
        top: 92%;
    }

    .honors-grid .slick-dots li {
        display: inline-block;
        vertical-align: top;
        text-align: center;
        margin: 0 10px;
    }

    .honors-grid .slick-dots li button {
        width: 9px;
        height: 9px;
        border: 1px solid #24aed2;
        background: #24aed2;
        display: block;
        padding: 0;
        font-size: 0;
        line-height: 0;
        text-indent: -999px;
        border-radius: 50%;
    }

    .honors-grid .slick-dots li.slick-active button {
        background: #fff;
    }

    .honors .honors-grid .honor-box {
        width: 100%;
        display: block;
    }

    .honors .honors-grid h2 {
        font-size: 46px;
        line-height: 1em;
        margin-bottom: 0;
        clear: none;
    }

    .honors .honors-grid .honor-box p {
        font-size: 20px;
        line-height: 1.2em;
    }

    .honors .honors-grid .honor-box .image,
    .honors .honors-grid .honor-box img {
        float: left;
        width: 100px;
        margin-right: 30px;
    }

    .slider-quotes .client_title {
        position: relative;
        padding: 0;
        font-size: 21px;
        text-align: left;
        line-height: 1.2em;
    }

    .slider-for .flex .thumb .thub_image {
        display: none;
    }

    .slider-for .flex .thumb {
        order: 2;
        width: 100%;
        text-align: left;
    }

    .slider-for .flex .thumb p .blue,
    .slider-for .flex .thumb p {
        text-align: left;
        font-size: 12px;
        line-height: 18px;
    }

    .slider-for .flex .thumb p .blue {
        text-transform: capitalize;
    }

    .slider-for .flex .thumb + .quote-content {
        margin-bottom: 15px;
    }

    .slider-for .flex .quote-content {
        width: 100%;
    }

    .slider-for .flex .quote-content > :first-child {
        margin: 0;
    }

    .slider-for .flex .quote-content p {
        font-size: 12px;
        line-height: 1.4em;
    }

    .slider-nav {
        padding: 0;
        margin: 0;
        padding-top: 5px;
    }

    .slider-nav .slick-next {
        display: none !important;
    }

    .slider-nav .image-thumb {
        padding: 10px;
    }

    .slider-nav .thub_image {
        width: 50px;
        height: 50px;
        padding: 0;
    }

    .slider-nav .slick-current .thub_image {
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
    }

    .work-with {
        padding-bottom: 3px;
    }

    .team-content p {
        margin-bottom: 15%;
    }
}

@media (min-width: 768px) and (max-width: 840px) {

    .slider-for .flex .thumb p .blue,
    .banner_content p {
        font-size: 18px;
        line-height: 36px;
        padding-right: 0;
    }

    .slider-for .flex .thumb p,
    .team-content p,
    .work-with p,
    .honors p,
    .work-grid .work-box span {
        font-size: 27px;
        line-height: 35px;
    }

    .honors h2,
    .team-content h2 {
        font-size: 40px;
    }

    .team-content,
    .team-content.office {
        width: 100%;
    }

    .team-content.office {
        left: 0%;
    }

    .team-images .small-images {
        top: 43%;
    }

    .work-grid .work-box h3 {
        font-size: 3.3vw;
    }

    .work-with h2 {
        font-size: 42px;
    }

    .image_section_center {
        height: auto;
        padding: 100px;
    }

    .about-tag-text span {
        font-size: 27px;
        line-height: 35px;
    }

    .work-with p {
        font-size: 1.9vw;
        line-height: 1.5;
    }

    .process_text li p {
        font-size: 27px;
        line-height: 35px;
        padding: 0;
    }

    .section-heading {
        font-size: 40px;
    }

    .slider-for .flex .quote-content p {
        font-size: 20px;
        line-height: 27px;
    }

    .honors .honors-grid h2 {
        font-size: 5.2vw;
    }

    .honors .honors-grid .honor-box p {
        font-size: 2.3vw;
    }

    .slider-for .flex .quote-content > *:first-child {
        margin-top: 11%;
    }

    .thub_image {
        margin-bottom: 20px;
    }

    .about-content .about-tag {
        max-height: 50vw;
    }

    .about-content .about-tag span.about-header {
        font-size: 5.2vw;
    }

    .scroll_down {
        font-size: 15px;
        line-height: 25px;
        background-size: 10px auto;
        padding-top: 45px;
    }

    .page_title {
        font-size: 79px;
        line-height: 79px;
        padding-right: 0;
    }

    .testimonial-slider {
        height: auto;
    }
}

@media (min-width: 375px) and (max-width: 767px) {
    .about_content {
        padding-top: 100px;
        background-size: 130% auto;
    }

    .page_title {
        font-size: 44px;
        line-height: 1.1em;
        margin-bottom: 8%;
    }

    .banner_content p {
        font-size: 21px;
        line-height: 27px;
        padding-right: 0;
    }

    .about-content {
        margin-top: 0%;
    }

    .work-grid {
        margin-bottom: 12%;
    }

    .about-content .about-tag span.about-header {
        font-size: 33px;
        line-height: 36px;
    }

    .honors h2,
    .team-content h2,
    .work-with h2.no-bottom,
    .slider-quotes .client_title,
    .work-with h2 {
        font-size: 27px;
        line-height: 28px;
        margin-bottom: 15px;
    }

    .work-grid .work-box h3,
    .work-grid .work-box h3 span {
        font-size: 24px;
        line-height: 28px;
    }

    .work-grid .work-box span {
        font-size: 18px;
    }

    .about-tag-text span {
        font-size: 20px;
    }

    .honors p,
    .team-content p,
    .slider-for .flex .quote-content p {
        font-size: 21px;
        line-height: 27px;
    }

    .work-with p {
        font-size: 19px;
        line-height: 26px;
    }

    .honors .honors-grid .honor-box .image,
    .honors .honors-grid .honor-box img {
        width: 120px;
    }

    .honors .honors-grid h2 {
        font-size: 54px;
        line-height: 50px;
        margin-bottom: 10px;
    }

    .honors .honors-grid .honor-box p {
        font-size: 23px;
    }

    .slider-quotes {
        margin-top: 9%;
        margin-bottom: 7%;
    }

    .slider-nav .thub_image {
        width: 58px;
        height: 58px;
    }

    .slider-for .flex .thumb p .blue,
    .slider-for .flex .thumb p {
        font-size: 14px;
        line-height: 20px;
    }
}

.transition-duration-1 {
    transition-duration: 0.4s !important;
}

.transition-duration-2 {
    transition-duration: 0.6s !important;
}

.transition-duration-3 {
    transition-duration: 0.8s !important;
}

@media (min-width: 1200px) {
    .about-tag-text {
        width: 840px;
    }
}

@media (max-width: 1200px) {
    .about-tag-text {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .about-tag-text {
        width: 309px;
    }

    .xs-d-none {
        display: none;
    }

    .about-content .about-tag span.about-header {
        display: block;
        text-align: center;
    }

    .image_section_center {
        height: auto;
        padding: 20% 10%;
    }

    .about-tag-text {
        text-align: center;
        line-height: 1.4;
    }

    .join-team-btn-outline {
        text-align: center;
    }

    .about-content .about-tag {
        margin: auto;
    }
}

@media (max-width: 375px) {
    .about-tag-text {
        width: 100%;
    }

    .about-tag-text span {
        font-size: 20px;
        line-height: 20px;
    }
}

/*loading css*/
.dot,
.icon {
    text-align: center
}

.main-loader {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #4c101b;
    /* background: #a72453;
            background: -moz-linear-gradient(top, #a72453 0, #79367f 63%, #79367f 100%);
            background: -webkit-linear-gradient(top, #a72453 0, #79367f 63%, #79367f 100%);
            background: linear-gradient(to bottom, #a72453 0, #79367f 63%, #79367f 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a72453', endColorstr='#79367f', GradientType=0); */
    z-index: 99999;
}

.screen-overlay,
body {
    background: #ffffff
}

.icon {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    margin: 0 auto;
    left: 50%
}

.screen-overlay {
    z-index: 998;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    transition: all ease .5s
}

.loaded .screen-overlay {
    transition-delay: .5s;
    opacity: 0;
    z-index: -998
}

.outer-layer {
    width: 402px;
    height: 114px;
    position: relative;
    margin: 0 auto
}

.dot,
.image-load {
    left: 0;
    position: absolute
}

@-webkit-keyframes SkLgXTFYahz_HJRA_JEpG_Animation {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    6.67% {
        -webkit-transform: rotate(-8deg);
        transform: rotate(-8deg)
    }

    100%,
    13.33% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
}

@keyframes SkLgXTFYahz_HJRA_JEpG_Animation {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    6.67% {
        -webkit-transform: rotate(-8deg);
        transform: rotate(-8deg)
    }

    100%,
    13.33% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
}

@-webkit-keyframes SkLgXTFYahz_Hyy3OyEaM_Animation {

    0%,
    13.33%,
    20% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }

    26.67% {
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1)
    }

    33.33%,
    40% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }

    46.67% {
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1)
    }

    53.33%,
    60% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }

    66.67% {
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1)
    }

    100%,
    73.33%,
    80% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }
}

@keyframes SkLgXTFYahz_Hyy3OyEaM_Animation {

    0%,
    13.33%,
    20% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }

    26.67% {
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1)
    }

    33.33%,
    40% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }

    46.67% {
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1)
    }

    53.33%,
    60% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }

    66.67% {
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1)
    }

    100%,
    73.33%,
    80% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }
}

@-webkit-keyframes SkLgXTFYahz_r1RiuJVaG_Animation {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }

    6.67% {
        -webkit-transform: translate(0, -100px);
        transform: translate(0, -100px)
    }

    13.33%,
    20% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }

    26.67% {
        -webkit-transform: translate(-67px, 0);
        transform: translate(-67px, 0)
    }

    33.33%,
    40% {
        -webkit-transform: translate(-134px, 0);
        transform: translate(-134px, 0)
    }

    46.67% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }

    53.33%,
    60% {
        -webkit-transform: translate(134px, 0);
        transform: translate(134px, 0)
    }

    66.67% {
        -webkit-transform: translate(67px, 0);
        transform: translate(67px, 0)
    }

    100%,
    73.33%,
    80% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@keyframes SkLgXTFYahz_r1RiuJVaG_Animation {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }

    6.67% {
        -webkit-transform: translate(0, -100px);
        transform: translate(0, -100px)
    }

    13.33%,
    20% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }

    26.67% {
        -webkit-transform: translate(-67px, 0);
        transform: translate(-67px, 0)
    }

    33.33%,
    40% {
        -webkit-transform: translate(-134px, 0);
        transform: translate(-134px, 0)
    }

    46.67% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }

    53.33%,
    60% {
        -webkit-transform: translate(134px, 0);
        transform: translate(134px, 0)
    }

    66.67% {
        -webkit-transform: translate(67px, 0);
        transform: translate(67px, 0)
    }

    100%,
    73.33%,
    80% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@-webkit-keyframes rkXxQTYYTnG_Animation {
    0% {
        opacity: 1
    }

    13.33%,
    93.33% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes rkXxQTYYTnG_Animation {
    0% {
        opacity: 1
    }

    13.33%,
    93.33% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-webkit-keyframes rkOXaYYa3M_BJVcuJNTf_Animation {
    40% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }

    46.67% {
        -webkit-transform: scale(.9, .9);
        transform: scale(.9, .9)
    }

    53.33%,
    60%,
    80% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }

    86.67% {
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1)
    }

    0%,
    100%,
    93.33% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }
}

@keyframes rkOXaYYa3M_BJVcuJNTf_Animation {
    40% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }

    46.67% {
        -webkit-transform: scale(.9, .9);
        transform: scale(.9, .9)
    }

    53.33%,
    60%,
    80% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }

    86.67% {
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1)
    }

    0%,
    100%,
    93.33% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }
}

@-webkit-keyframes rkOXaYYa3M_rJf9u1Eaf_Animation {
    40% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }

    46.67% {
        -webkit-transform: translate(-134px, 0);
        transform: translate(-134px, 0)
    }

    53.33%,
    60%,
    80% {
        -webkit-transform: translate(-268px, 0);
        transform: translate(-268px, 0)
    }

    86.67% {
        -webkit-transform: translate(-134px, 0);
        transform: translate(-134px, 0)
    }

    0%,
    100%,
    93.33% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@keyframes rkOXaYYa3M_rJf9u1Eaf_Animation {
    40% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }

    46.67% {
        -webkit-transform: translate(-134px, 0);
        transform: translate(-134px, 0)
    }

    53.33%,
    60%,
    80% {
        -webkit-transform: translate(-268px, 0);
        transform: translate(-268px, 0)
    }

    86.67% {
        -webkit-transform: translate(-134px, 0);
        transform: translate(-134px, 0)
    }

    0%,
    100%,
    93.33% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@-webkit-keyframes rJxXatK6hf_SkoFu1Epf_Animation {
    20% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }

    26.67% {
        -webkit-transform: scale(.9, .9);
        transform: scale(.9, .9)
    }

    33.33%,
    40%,
    60% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }

    66.67% {
        -webkit-transform: scale(.9, .9);
        transform: scale(.9, .9)
    }

    73.33%,
    80% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }

    86.67% {
        -webkit-transform: scale(.9, .9);
        transform: scale(.9, .9)
    }

    0%,
    100%,
    93.33% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }
}

@keyframes rJxXatK6hf_SkoFu1Epf_Animation {
    20% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }

    26.67% {
        -webkit-transform: scale(.9, .9);
        transform: scale(.9, .9)
    }

    33.33%,
    40%,
    60% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }

    66.67% {
        -webkit-transform: scale(.9, .9);
        transform: scale(.9, .9)
    }

    73.33%,
    80% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }

    86.67% {
        -webkit-transform: scale(.9, .9);
        transform: scale(.9, .9)
    }

    0%,
    100%,
    93.33% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }
}

@-webkit-keyframes rJxXatK6hf_rJOt_14pz_Animation {
    20% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }

    26.67% {
        -webkit-transform: translate(67px, 0);
        transform: translate(67px, 0)
    }

    33.33%,
    40%,
    60% {
        -webkit-transform: translate(134px, 0);
        transform: translate(134px, 0)
    }

    66.67% {
        -webkit-transform: translate(201px, 0);
        transform: translate(201px, 0)
    }

    73.33%,
    80% {
        -webkit-transform: translate(268px, 0);
        transform: translate(268px, 0)
    }

    86.67% {
        -webkit-transform: translate(134px, 0);
        transform: translate(134px, 0)
    }

    0%,
    100%,
    93.33% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@keyframes rJxXatK6hf_rJOt_14pz_Animation {
    20% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }

    26.67% {
        -webkit-transform: translate(67px, 0);
        transform: translate(67px, 0)
    }

    33.33%,
    40%,
    60% {
        -webkit-transform: translate(134px, 0);
        transform: translate(134px, 0)
    }

    66.67% {
        -webkit-transform: translate(201px, 0);
        transform: translate(201px, 0)
    }

    73.33%,
    80% {
        -webkit-transform: translate(268px, 0);
        transform: translate(268px, 0)
    }

    86.67% {
        -webkit-transform: translate(134px, 0);
        transform: translate(134px, 0)
    }

    0%,
    100%,
    93.33% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

#B1XatYT3G * {
    -webkit-animation-duration: 7.5s;
    animation-duration: 7.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
    animation-timing-function: cubic-bezier(0, 0, 1, 1)
}

#rJxXatK6hf_rJOt_14pz {
    -webkit-animation-name: rJxXatK6hf_rJOt_14pz_Animation;
    animation-name: rJxXatK6hf_rJOt_14pz_Animation;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    transform-box: fill-box;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0)
}

#rJxXatK6hf_SkoFu1Epf,
#rkOXaYYa3M_rJf9u1Eaf {
    -webkit-transform-origin: 50% 50%;
    transform-box: fill-box
}

#rJxXatK6hf_SkoFu1Epf {
    -webkit-animation-name: rJxXatK6hf_SkoFu1Epf_Animation;
    animation-name: rJxXatK6hf_SkoFu1Epf_Animation;
    transform-origin: 50% 50%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1)
}

#rkOXaYYa3M_rJf9u1Eaf {
    -webkit-animation-name: rkOXaYYa3M_rJf9u1Eaf_Animation;
    animation-name: rkOXaYYa3M_rJf9u1Eaf_Animation;
    transform-origin: 50% 50%;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0)
}

#rkOXaYYa3M_BJVcuJNTf {
    -webkit-animation-name: rkOXaYYa3M_BJVcuJNTf_Animation;
    animation-name: rkOXaYYa3M_BJVcuJNTf_Animation;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    transform-box: fill-box;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1)
}

#rkXxQTYYTnG {
    -webkit-animation-name: rkXxQTYYTnG_Animation;
    animation-name: rkXxQTYYTnG_Animation;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    transform-box: fill-box;
    opacity: 1
}

#SkLgXTFYahz_Hyy3OyEaM,
#SkLgXTFYahz_r1RiuJVaG {
    -webkit-transform-origin: 50% 50%;
    transform-box: fill-box
}

#SkLgXTFYahz_r1RiuJVaG {
    -webkit-animation-name: SkLgXTFYahz_r1RiuJVaG_Animation;
    animation-name: SkLgXTFYahz_r1RiuJVaG_Animation;
    transform-origin: 50% 50%;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0)
}

#SkLgXTFYahz_Hyy3OyEaM {
    -webkit-animation-name: SkLgXTFYahz_Hyy3OyEaM_Animation;
    animation-name: SkLgXTFYahz_Hyy3OyEaM_Animation;
    transform-origin: 50% 50%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1)
}

#SkLgXTFYahz_HJRA_JEpG {
    -webkit-animation-name: SkLgXTFYahz_HJRA_JEpG_Animation;
    animation-name: SkLgXTFYahz_HJRA_JEpG_Animation;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    transform-box: fill-box;
    -webkit-transform: rotate(0);
    transform: rotate(0)
}

.image-load {
    max-width: 134px;
    padding: 0 10px;
    top: 0;
    box-sizing: border-box
}

img {
    max-width: 100%
}

.dot {
    right: 0;
    top: 92px
}

div#B1XatYT3G {
    position: relative
}

.image-load:nth-child(2) {
    left: 268px
}

.image-load:nth-child(4) {
    left: 0;
    right: 0;
    margin: 0 auto
}

.image-load {
    width: 134px;
}

@media (max-width: 767px) {
    .outer-layer {
        transform: scale(0.7);
    }

    .process-table {
        width: 100%;
    }
}

#loader img {
    width: 80px;
}

#ry4x7TKKTnz img {
    width: auto;
}
