.theme2 .case-item__content .case-item__title, .theme2 .client-name{ color:#4c101b !important; }
.theme2 .bottom_points .link_slider, .theme2 .has-hover .ui-dark .bottom_points .link_slider:hover{ color:#4c101b !important; }
.theme2 .bottom_points .link_slider::before {background: url(../images/right_icon-01.png) center center no-repeat; background-size:62px;}
.theme2 .bottom_points .link_slider::after {border: 2px solid rgb(76, 15, 27) !important}
.theme2 #menu-navbar .nav > li:hover > a span, #menu-navbar .nav > li > a:hover span {color: #b3853d !important;}
.theme2 #menu-navbar .sub-menu li a:hover, .theme2 .btn-1 {color: #b3853d !important;}
.theme2 .page_title span {color:#b3853d !important; }
.theme2 .show_filter {color: #b3853d !important;}
.theme2 .js-works-filters li a.is-active, .theme2 .js-works-filters li a:hover, .theme2 .work-grid .work-box h3 span{color: #b3853d !important;}
.theme2 .process_list_item::before {border: 1px solid #4c0f1b !important;}
.theme2 .process_list li.is_active span::before {background:#4c0f1b !important;}
.theme2 .process_list_item::after {border: 1px solid #4c0f1b !important;background:#4c0f1b !important;}
.theme2 .is_active .process_list_item span {color: #b3853d !important;}
.theme2 .testimonial-slider:before { background: url("../images/quote-left-01.png") !important;}
.theme2 .testimonial-slider:after { background: url("../images/quote-right-01.png") !important;}
.theme2 .contact-info a:hover .fa, .theme2 .contact-info a:hover {color: #6998ca !important;}
.theme2 .focus-border{background-color:#b3853d !important;}
.theme2 .panel-group .panel.open .panel-heading .panel-title, .theme2 .panel-group .panel.open .panel-heading .panel-title a, .theme2 .bl-by, .theme2 .blog-list li.hovered .bl-heading{ color:#b7893e  !important; }
.theme2 .bl-date{background:#6998ca !important;}
.theme1 .load-img-02{ display:none; }
.theme2 .load-img-02{ display:inline-block; }
.theme1 .load-img-01{ display:inline-block; }
.theme2 .load-img-01{ display:none; }
.theme2 .thanku-modal .green-thanku-box .back-to-home-btn, .theme1 .thanku-modal .green-thanku-box .back-to-home-btn{ color:#fff !important; }