#page {
  width: 100%;
  /* overflow-x:  */
}
.navigation_main #nav-toggle .icon-bar:before,
.navigation_main #nav-toggle .icon-bar:after,
.navigation_main #nav-toggle .icon-bar {
  background-color: #fff;
}
.back_btn {
  height: 80px;
  width: 80px;
  display: block;
  border-radius: 50%;
  background-image: url(../images/pre-btn.png);
  background-position: center;
  background-size: 16px auto;
  background-repeat: no-repeat;

  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;

}
.back_btn:hover {
  background-color:#000;
}
.case_banner {
  width: 100%;
  height: 100vh;
  position: relative;
  background: #222;
}

.case_content {
  padding: 0 17.2vw;
  position: relative;
  z-index: 2;
  color: #fff;
}

.bg_fix {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover !important;
  background-attachment: fixed !important;
  opacity: 0.6;
}
.case_content {
  width: 100%;
}

.case_content h2 {
  color: #fff;
  font-size: 7.2vw;
  font-weight: 900;
  line-height: 0.9;
  margin-bottom: 7%;
  text-align: center;
}
.header-no-full .case_banner{ height:auto; padding:240px 0 80px; }
/*.case_content p {
  font-size: 1.1vw;
  line-height: 1.2;
  color: #fff;
  text-transform: uppercase;
}*/
.case_content p {
	font-size: 1.77vw;
	line-height: 1.2;
	color: #fff;
	font-family: 'Roboto Slab', serif;
	padding-right: 5%;
}
.case_content .case_description {
  text-align: center;
  padding: 0;
}
.case_content .case_description span {
  color: #b1b1b1;
  display: inline-block;
}

.bottom {
  position: absolute;
  width: 100%;
  bottom: 5%;
  left: 0;
  text-align: center;
  color: #fff;
}

.scroll_down {
  font-size: 30px;
  line-height: 32px;
  color: #fff;
  font-family: "Roboto Slab", serif;
  text-decoration: none;
  background: url(../images/down-white.png) no-repeat top center;
  background-size: 17px auto;
  padding-top: 80px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}
.scroll_down:hover {
  background-position: top 10px center;
}

.middle_content {
  padding: 6% 17.2vw;
  background: #fff;
}
.middle_content.no_padding_right {
  padding-right: 0;
}
.middle_content.no_padding_top {
  padding-top: 0;
}
.middle_content.no_padding_bottom {
  padding-bottom: 0;
}
.middle_content .left_content {
  width: 38%;
}
.middle_content .left_content.full {
  width: 100%;
}
.middle_content .right_content {
  width: 62%;
}
.middle_content .left_content h4 {
  color: rgba(52, 48, 45, 0.1);
  font-size: 1.875vw;
  line-height: 1.2;
  margin: 0;
}
.middle_content .left_content h2 {
  color: rgba(52, 48, 45, 0.1);
  font-size: 7.08vw;
  line-height: 0.8;
  padding: 0;
  margin: 0;
  font-weight: bold;
  margin-bottom: 0;
}
.middle_content .left_content p {
  font-size: 1.5625vw;
  line-height: 1.2;
  color: #4b4b4b;
}
.middle_content .right_content p {
  font-size: 1.5625vw;
  line-height: 1.4;
  color: #4b4b4b;
  margin-bottom: 5%;
}
.middle_content .right_content p:last-child {
  margin-bottom: 0;
}

.container-ratio {
  position: relative;
  padding-top: 56.3%;
  display: block;
  width: 100%;
  margin-bottom: 4%;
  -webkit-box-shadow: 0px 3px 70px 9px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 3px 70px 9px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 3px 70px 9px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}
/* .container-ratio > a:after{
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    left: 0;
} */
.container-ratio > a:after {
  content: "";
  position: absolute;
  z-index: 9;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* background: #202121; */
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: block;
}
.container-ratio:hover > a:after {
  opacity: 1;
}

.container-ratio .hover-item {
  position: absolute;
  z-index: 9;
  bottom: 15px;
  right: 15px;
  width: 35px;
  height: 35px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  min-width: 35px;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.container-ratio:hover .hover-item {
  opacity: 1;
  z-index: 10;
}
.container-ratio .hover-item .ico-svg {
  height: 11px;
  fill: #fff;
  position: relative;
  display: inline-block;
  width: auto;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.half {
  width: 49%;
}
.full {
  width: 100%;
}
.container-ratio img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);

  object-fit: cover;
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.container-ratio:hover img {
  transform: translate(-50%, -50%) scale(1.1);
  -webkit-transform: translate(-50%, -50%) scale(1.1);
}

/* .others.flex .half{
width: 50%;

} */

.case-nav .container-ratio {
  min-width: 64vw;
}
/*
.others.flex .half .wrap_height{
    padding-top: 54.56%;
    background: #000;
    position: relative;
    width: 100%;
}
.others.flex .half .bg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.4;
    z-index: 0;
}

.others.flex .half .box-content{
    position: absolute;
    top: 15%;
    right: 10%;
    display: block;
    z-index: 4;
    color: #fff;
    text-align: right;
}
    .others.flex .half:last-child .box-content {
        right: auto;
        text-align: left;
        left: 10%;

    }

.others.flex .half .box-content h2{
    font-size: 3.125vw;
    line-height: 1.2;
    color: #fff;
    margin: 0;
    font-weight: bold;
}
.others.flex .half .box-content p{
    font-size: 1.5625vw;
    line-height: 1.4;
    color: #fff;
    font-family: 'Roboto Slab', serif;
    margin: 0;
}
.others.flex .half .box-content .btn_arrow{
    background: url(../images/right_white.png) no-repeat center center;
    width: 60px;
    height: 60px;
    display: block;
    background-size: 60px auto;
    position: relative;
    left: 0;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}
    .others.flex .half:first-child .btn_arrow{
        margin-right: 0;
        margin-left: auto;

        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
    }

.others.flex .half .box-content .btn_arrow:hover{
    left: 10px;
}

.others.flex .half:first-child .box-content .btn_arrow:hover{
    left: -10px;
} */

.case-nav {
  -webkit-box-shadow: 0px 3px 70px 9px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 3px 70px 9px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 3px 70px 9px rgba(0, 0, 0, 0.05);
  background: #f4f4f4;
  margin-bottom: 4%;
}
.case-nav .container-ratio {
  box-shadow: none !important;
  margin-bottom: 0;
}

.case-nav .case-box {
  margin: 0 15px 0 0;
}

.case-app {
  -webkit-box-shadow: 0px 3px 70px 9px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 3px 70px 9px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 3px 70px 9px rgba(0, 0, 0, 0.05);
  background: #f4f4f4;
  margin-bottom: 4%;
}
.case-app .container-ratio {
  box-shadow: none !important;
  margin-bottom: 0;
  /* padding-top: 178%; */
  padding-top: 143%;
  width: 32vw;
}

.case-app .app-box {
  margin: 0 15px 0 0;
}

.info-wrap {
  width: 100%;
  height: 70vh;
  overflow: hidden;
  -webkit-box-shadow: 0px 3px 70px 9px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 3px 70px 9px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 3px 70px 9px rgba(0, 0, 0, 0.05);
  margin-bottom: 5%;

  transition: height 0.5s ease-in-out;
  -webkit-transition: height 0.5s ease-in-out;
}
/* .info-wrap.auto{
    height: auto;
    max-width: auto;

} */
.info-wrap img {
  width: 100%;
  height: auto;
  display: block;
}

.soci-app {
  -webkit-box-shadow: 0px 3px 70px 9px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 3px 70px 9px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 3px 70px 9px rgba(0, 0, 0, 0.05);
  background: #f4f4f4;
  margin-bottom: 4%;
}
.soc-box .container-ratio {
  box-shadow: none !important;
  margin-bottom: 0;
  padding-top: 100%;
  width: 24vw;
}

.soci-app .soc-box {
  margin: 0 15px 0 0;
}

.column-big {
  width: 62%;
}
.column-small {
  width: 36.5%;
}

.ratio-4-3 {
  padding-top: 79.27%;
}

.column-wrap .container-ratio {
  margin-bottom: 0;
}

.ratio-16-9 {
  padding-top: 65.05%;
}
.expand_info {
  margin: 30px auto 0;
}

.others {
  padding: 5% 0;
  margin-top: 8%;
}
.others > .flex {
  width: 33%;
  padding: 0 5%;
}

.others .prev {
  padding-left: 10%;
  padding-right: 0;
}

.others .next {
  padding-right: 10%;
  padding-left: 0;
}

.others .prev a,
.others .next a {
  font-size: 1.25vw;
  line-height: 1.2;
  color: #4b4b4b;
  text-transform: uppercase;
  text-decoration: none;
  opacity: 0.7;

  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  padding: 0 0 0 50px;
  background: url(../images/left-move.jpg) no-repeat left center;
  background-size: 16px auto;
}
.others .next a {
  text-align: right;
  background: url(../images/right-move.jpg) no-repeat right center;
  background-size: 16px auto;
  padding-left: 0;
  padding-right: 50px;
}
.others .prev a span,
.others .next a span {
  font-size: 2.6vw;
  display: block;
  text-transform: capitalize;
  font-weight: 600;
}
.others .prev a:hover,
.others .next a:hover {
  opacity: 1;
}
.others img {
  max-width: 205px;
  height: auto;
  width: 80%;
  opacity: 0.1;
}
.case-wrap.online-bok-platf-clr-sec h4 {
    padding-bottom: 2.5vw; position:relative; font-family: 'Roboto Slab', serif; font-size:1.8em; margin-bottom:1.462vw;
}
.case-wrap.online-bok-platf-clr-sec h4:after{ content:""; width:2px; height:2vw; position:absolute; left:50%; margin-left:-1px; bottom:-5px; }
.online-booking {
    padding: 8% 14vw;
}
.online-book-full img{ width:100%; }
.padding-60{padding:2.5vw 0 !important;}
.padding-40{padding:2vw 0 !important;}
.padding-80{padding:4vw 0 !important;}
.pb-60{ padding-bottom:2.5vw; }
.pb-0{ padding-bottom:0px !important; }
.pt-0{ padding-top:0px !important; }
.yellow{ background:#ceac61 !important; }
.dark-yellow{ background:#cc9933 !important; }
.purple{ background:#6220a5 !important; } 
.orange{ background:#ad6913 !important; }
.black{ background:#000 !important; }
@media (min-width: 768px) and (max-width: 1024px) {
  .case_content p {
    font-size: 12px;
    line-height: 18px;
  }
  .scroll_down {
    font-size: 22px;
    line-height: 26px;
    padding-top: 60px;
    background-size: 15px auto;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .back_btn {
    height: 50px;
    width:10px;
    background-size: 10px auto;
  }
  .case_content h2 {
    font-size: 44px;
    line-height: 1.1em;
    margin-bottom: 6%;
  }
  .case_content p {
    font-size: 16px;
    line-height: 1.2em;
    text-align: center;
  }
  .work-page-content .case_content p{ text-align:left; }
  .case_content p strong {
    display: block;
    margin-bottom: 10px;
    width: 100%;
  }

  .scroll_down {
    font-size: 18px;
    line-height: 20px;
    padding-top: 40px;
    background-size: auto 30px;
  }
  .middle_content {
    padding: 6% 5%;
  }
  .middle_content .right_content,
  .middle_content .left_content {
    width: 100%;
    margin-bottom: 1.5em;
  }
  .middle_content .right_content p {
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 1.5em;
  }
  .middle_content .left_content h2 {
    font-size: 36px;
    line-height: 1;
  }
  .others > .flex {
    width: 50%;
  }
  .others > .flex:nth-child(2n) {
    display: none;
  }
  .others .prev a,
  .others .next a {
    background-size: 10px auto;
    padding-left: 30px;
    font-size: 10px;
    padding-right: 5px;
  }
  .others .next a {
    padding-right: 30px;
    padding-left: 5px;
  }
  .others .prev a span,
  .others .next a span {
    font-size: 15px;
  }
  
.padding-60{padding:35px 0 !important;}
.padding-40{padding:30px 0 !important;}
.padding-padding-40{ padding-bottom:40px !important; }
.padding-80{padding:40px 0 !important;}
.pb-60{ padding-bottom:35px; }
.case-wrap.online-bok-platf-clr-sec {
    margin-top: 30px;
}
.case-wrap.online-bok-platf-clr-sec h4:after {
    content: "";
    width: 1px;
    height: 20px;
    margin-left:0px;
    bottom: 5px;
}
.case-wrap.online-bok-platf-clr-sec h4{ padding-bottom:30px; }
}


@media(max-width:991px){ 
.header-no-full .case_banner{ padding:0px; }
 }