* {
    font-family: 'Roboto', sans-serif;
    outline: none;
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

@font-face {
    font-family: 'aspiredemibold';
    src: url('../fonts/aspire-demibold-webfont.woff2') format('woff2'),
        url('../fonts/aspire-demibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.clearfix {
    overflow: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.cf:before,
.cf:after {
    display: table;
    content: "";
}

.cf:after {
    clear: both;
}

.cf {
    zoom: 1;
    /* For IE 6/7 (trigger hasLayout) */
}

* {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    background: #fff;
}

article,
aside,
footer,
header,
nav,
section {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

figcaption,
figure,
main {
    display: block;
}

figure {
    margin: 1em 0;
}

hr {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 1px;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
    outline-width: 0;
}

abbr[title] {
    border-bottom: 1px #767676 dotted;
    text-decoration: none;
}

b,
strong {
    font-weight: inherit;
}

b,
strong {
    font-weight: 700;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

dfn {
    font-style: italic;
}

mark {
    background-color: #eee;
    color: #222;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

audio,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

img {
    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    border: 1px solid #bbb;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    display: inline-block;
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}


.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}



.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



body,
button,
input,
select,
textarea {
    color: #4b4b4b;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.66;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    line-height: 1.4;
    margin: 0 0 0.75em;
    padding: 1.5em 0 0;
    color: #4c101b !important;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
    padding-top: 0;
}

h1 {
    font-size: 24px;
    font-size: 1.5rem;
    font-weight: 300;
}

h2,
.home.blog .entry-title {
    color: #4c101b;
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: 300;
}

h3 {
    color: #4c101b;
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: 300;
}

h4 {
    color: #4c101b;
    font-size: 16px;
    font-size: 1rem;
    font-weight: 800;
}

h5 {
    color: #4c101b;
    font-size: 13px;
    font-size: 0.8125rem;
    font-weight: 800;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

h6 {
    color: #4c101b;
    font-size: 15px;
    font-size: 0.9375rem;
    font-weight: 800;
}

p {
    margin: 0 0 1.5em;
    padding: 0;
}

dfn,
cite,
em,
i {
    font-style: italic;
}

blockquote {
    color: #666;
    font-size: 18px;
    font-size: 1.125rem;
    font-style: italic;
    line-height: 1.7;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

blockquote cite {
    display: block;
    font-style: normal;
    font-weight: 600;
    margin-top: 0.5em;
}

address {
    margin: 0 0 1.5em;
}

pre {
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}

code,
kbd,
tt,
var {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-size: 0.9375rem;
}

abbr,
acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

mark,
ins {
    background: #eee;
    text-decoration: none;
}

big {
    font-size: 125%;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    color: #4f4f4f;
    background: #fff;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    border: 1px solid #bbb;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    display: block;
    padding: 0.7em;
    width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
    color: #4f4f4f;
    border-color: #333;
}

select {
    border: 1px solid #bbb;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    height: 3em;
    max-width: 100%;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 0.5em;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
    font-weight: 400;
}

button,
input[type="button"],
input[type="submit"] {
    background-color: #222;
    border: 0;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 800;
    line-height: 1;
    padding: 1em 2em;
    text-shadow: none;
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
}

/* Placeholder text color -- selectors need to be separate to work. */
::-webkit-input-placeholder {
    color: #4f4f4f;
    font-family: 'Roboto', sans-serif;
}

:-moz-placeholder {
    color: #4f4f4f;
    font-family: 'Roboto', sans-serif;
}

::-moz-placeholder {
    color: #4f4f4f;
    font-family: 'Roboto', sans-serif;
    opacity: 1;
    /* Since FF19 lowers the opacity of the placeholder by default */
}

:-ms-input-placeholder {
    color: #4f4f4f;
    font-family: 'Roboto', sans-serif;
}

/* Flex grid */

.flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;

    -ms-flex-line-pack: stretch;
    -webkit-align-content: stretch;
    align-content: stretch;

    -ms-flex-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
}

.flex.flex-column {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.flex.flex-nowrap {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.flex.flex-row-reverse {
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.flex.flex-justify-start {
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

.flex.flex-justify-center {
    -webkit-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
}

.flex.flex-justify-between {
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.flex.flex-justify-evenly {
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.flex.flex-justify-evenly {
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}

.flex.flex-justify-end {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -ms-flex-pack: end;
}

.flex.flex-align-start {
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

.flex.flex-align-center {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.flex.flex-align-stretch {
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.flex.flex-align-end {
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
}

/** Screen Loader **/

.loader {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;
}

.loading {
    background-color: #000;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

    opacity: 1;
    visibility: visible;
}

.loading.hide-up {
    opacity: 0;
}

#page {
    width: 100%;
    position: relative;
}

/* header */
.top-header {
    padding: 0 9%;
    position: absolute;
    top: 80px;
    z-index: 9;
    width: 100%;
}

.top-header .logo {
    display: block;
    max-width: 10vw;
    min-width: 100px;
}

.top-header .logo img {
    max-width: 100%;
    height: auto;
}

.max-container {
    max-width: 67%;
    margin: 0 auto;
}

.site-footer {
    background: #4c0f1b;
    padding: 3% 0;
    text-align: center;
    float: left;
    width: 100%;

}

.site-footer .flex {
    padding-bottom: 2%;
    margin-bottom: 3%;
    background-repeat: no-repeat;
    background-position: center 100px;
}

.site-footer .flex .contact_info {
    width: 27%;
    color: #fff;
    font-size: 1.14vw;
    line-height: 2;
    font-weight: 300;
    text-align: center;
    padding-right: 7%;
}

.site-footer .flex .contact_info a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding-top: 30px;
    margin-bottom: 15px;
    transition: color ease .3s;
    -webkit-transition: color ease .3s;
}

.site-footer .flex .contact_info .email {
    background: url(../images/mail.png) no-repeat top center;
    background-size: 34px auto;
}

.site-footer .flex .contact_info .call {
    background: url(../images/phone.png) no-repeat top center;
    background-size: 30px auto;
}

.site-footer .flex .contact_info a:hover {
    color: #20a4cc;
    text-decoration: none;
}

.site-footer .flex .contact_info .email:hover {
    background-position: center -96px;
}

.site-footer .flex .contact_info .call:hover {
    background-position: center -75px;
}


.site-footer .social_links {
    text-align: center;

}

.site-footer .social_links ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.site-footer .social_links ul li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 1vw;

    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);

    transition: all ease .3s;
    -webkit-transition: all ease .3s;

}

.site-footer .social_links ul li a {
    height: 6vw;
    width: 6vw;
    background-size: 52px auto !important;
    display: block;
    border-radius: 50%;
    border: 1px solid #686868;
    color: #fff;
    font-size: 22px;
    line-height: 56px;
    text-decoration: none;
    transition: all cubic-bezier(.25, .74, .22, .99) .4s;
    -webkit-transition: all cubic-bezier(.25, .74, .22, .99) .4s;
    /* background-color: #000; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
}

.site-footer .social_links ul li:hover a {
    border: 1px solid rgba(255, 255, 255, 1);
    color: #fff;

    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.site-footer .social_links ul li.fb a {
    background-image: url(../images/fb.png);
}

.site-footer .social_links ul li.linkdin a {
    background-image: url(../images/in.png);
}

.site-footer .social_links ul li.twitter a {
    background-image: url(../images/twitter.png);

}

.site-footer .social_links ul li.insta a {
    background-image: url(../images/insta.png);
}

.site-footer .social_links ul li.pin a {
    background-image: url(../images/pin.png);
}

.site-footer .social_links ul li.skype a {
    background-image: url(../images/sk.png);
}

.site-footer .contact_address {
    width: 27%;
    text-align: center;
}

.site-footer .contact_address p {
    text-align: center;
    font-size: 1.14vw;
    line-height: 1.8;
    color: #fff;
    font-weight: 300;
}

.site-footer .journey_markup {
    margin-bottom: 5%;
}

.site-footer .journey_markup .say_hello {
    margin-top: 2%;
    color: #FFFFFF;
    opacity: 0.32;
    font-family: 'aspiredemibold';
    font-size: 4.27vw;
    line-height: 1.2;
    text-align: center;
    font-style: italic;
}

.site-footer .journey_markup h3 {
    padding: 0;
    font-size: 2.08vw;
    line-height: 1.4;
    color: #fff !important;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}

.site-footer .journey_markup .btn-link {
    background: #d5343c;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.66vw;
    line-height: 1.2;
    padding: 35px 100px;
    border-radius: 10px;
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    transition: all ease .3s;
    -webkit-transition: all ease .3s;
    box-shadow: 0px 5px 11px 1px #d5343c54;
}

.site-footer .journey_markup .btn-link:hover {
    background-color: #b12a31;
}

.site-footer .copy-right {
    color: #787878;
    font-size: 1.145vw;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

.navigation_main #nav-toggle {
    position: relative;
    height: 27px;
    width: 47px;
    background: none;
    border: 0;
    padding: 0;
    display: block;
    z-index: 9999;
}


.navigation_main #nav-toggle .icon-bar {
    width: 45px;
    height: 3px;
    background: #b7893e;
    display: block;
    position: relative;
    text-align: right;
}

body .navigation_main #nav-toggle .icon-bar {
    cursor: pointer !important;
}

.navigation_main #nav-toggle .icon-bar:after {
    content: '';
    width: 30px;
    height: 3px;
    background: #b7893e;
    display: block;
    top: 10px;
    position: absolute;
    right: 0;
    transition: all ease .3s;
    -webkit-transition: all ease .3s;
}

.navigation_main #nav-toggle .icon-bar:before {
    content: '';
    width: 45px;
    height: 3px;
    background: #b7893e;
    display: block;
    top: -10px;
    position: absolute;
    transition: all ease .3s;
    -webkit-transition: all ease .3s;
}

.navigation_main #nav-toggle.active .icon-bar {
    background: transparent;
}

.navigation_main #nav-toggle.active .icon-bar:before {
    top: 0 !important;
    -webkit-transform: rotatez(-135deg);
    -moz-transform: rotatez(-135deg);
    -ms-transform: rotatez(-135deg);
    -o-transform: rotatez(-135deg);
    transform: rotatez(-135deg);
    background: #ffffff;
    width: 45px !important;
    transition: all ease .3s;
    -webkit-transition: all ease .3s;
}

.navigation_main #nav-toggle.active .icon-bar:after {
    top: 0 !important;
    -webkit-transform: rotatez(135deg);
    -moz-transform: rotatez(135deg);
    -ms-transform: rotatez(135deg);
    -o-transform: rotatez(135deg);
    transform: rotatez(135deg);
    background: #ffffff;
    width: 45px !important;
    transition: all ease .3s;
    -webkit-transition: all ease .3s;
}


#menu-navbar {
    position: fixed;
    height: 100vh;
    width: 100vw;
    bottom: 0;
    right: -100vw;
    transition: transform .6s cubic-bezier(.47, .01, .47, 1);
    -webkit-transition: transform .6s cubic-bezier(.47, .01, .47, 1);
    -moz-transition: transform .6s cubic-bezier(.47, .01, .47, 1);
    -o-transition: transform .6s cubic-bezier(.47, .01, .47, 1);


    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);

    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
}

#menu-navbar.open {
    -webkit-transform: translate(-100vw, 0) !important;
    -moz-transform: translate(-100vw, 0) !important;
    -ms-transform: translate(-100vw, 0) !important;
    -o-transform: translate(-100vw, 0) !important;
    transform: translate(-100vw, 0) !important;
}

#menu-navbar .nav {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

#menu-navbar .nav > li {
    width: 25%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    -webkit-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;

    height: 100%;
    padding: 0 7%;
    background: #4c101b;

    transition: all ease .3s;
    -webkit-transition: all ease .3s;
    align-items: flex-start;
}

#menu-navbar .nav > li > a {
    font-size: 0.677vw;
    line-height: 1em;
    color: #b3853d;
    display: block;
    text-decoration: none;
    margin: 15px 0;
    transition: all ease .3s;
    -webkit-transition: all ease .3s;

    -webkit-transition-delay: 650ms;
    -moz-transition-delay: 650ms;
    -o-transition-delay: 650ms;
    transition-delay: 650ms;
}

#menu-navbar .nav > li > a span {
    display: block;
    font-size: 1.9vw;
    line-height: 1.6em;
    font-weight: bold;
    transition: all ease .3s;
    -webkit-transition: all ease .3s;

    position: relative;
}

#menu-navbar .nav > li:hover > a span,
#menu-navbar .nav > li > a:hover span {
    color: #b3853d;
}

#menu-navbar .nav > li > a span:not(.small) {
    margin-top: 5px;
    margin-bottom: 5px;
}

#menu-navbar .nav > li > a span:not(.small):before {
    content: '';
    position: absolute;
    width: 65px;
    top: 5px;
    left: 0;
    background: #fff;
    opacity: 0.05;
    height: 1px;
}

#menu-navbar .nav > li:hover > a span.small,
#menu-navbar .nav > li > a:hover span.small,
#menu-navbar .nav > li > a span.small {
    font-size: 0.625vw;
    line-height: 1.2em;
    font-family: 'Roboto', serif;
    color: #fff;
}

#menu-navbar .sub-menu {
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 0;

    overflow: hidden;

    transition: max-height 0.5s ease-out;
    -webkit-transition: max-height 0.5s ease-out;
    -moz-transition: max-height 0.5s ease-out;
    -o-transition: max-height 0.5s ease-out;

    max-height: 0;
    width: 100%;
    text-align: left;
}

#menu-navbar .sub-menu li {
    font-size: 0.78125vw;
    line-height: 1.4;
    color: #ffffff;
    margin: 7% 0;
}

#menu-navbar .sub-menu li a {
    color: #fff;
    text-decoration: none;
    transition: all ease .3s;
    -webkit-transition: all ease .3s;
}

#menu-navbar .sub-menu li a:hover {
    color: #b3853d;
}

#menu-navbar .nav > li:hover {
    background-color: rgba(76, 16, 27, 0.8);
}

#menu-navbar .nav > li:hover > ul.sub-menu {
    max-height: 500px;
}

#menu-navbar .nav > li:nth-child(4) > a,
#menu-navbar .nav > li:nth-child(3) > a,
#menu-navbar .nav > li:nth-child(2) > a {
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);

    -webkit-transition: -webkit-transform .4s ease;
    -moz-transition: -moz-transform .4s ease;
    -o-transition: -o-transform .4s ease;
    transition: transform .4s ease;
    background: transparent;
}

#menu-navbar.open .nav > li a {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
}

#menu-navbar .nav > li:nth-child(2) > a {
    -webkit-transition-delay: 450ms;
    -moz-transition-delay: 450ms;
    -o-transition-delay: 450ms;
    transition-delay: 450ms;

}

#menu-navbar .nav > li:nth-child(3) > a {
    -webkit-transition-delay: 500ms;
    -moz-transition-delay: 500ms;
    -o-transition-delay: 600ms;
    transition-delay: 500ms;

}

#menu-navbar .nav > li:nth-child(4) > a {
    -webkit-transition-delay: 550ms;
    -moz-transition-delay: 550ms;
    -o-transition-delay: 550ms;
    transition-delay: 550ms;
}


body .begin-animate {

    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0));
    transform: translate(0, 0);

    opacity: 1;

    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
}

.animate-left {
    -webkit-transform: translate(-100px, 0);
    -moz-transform: translate(-100px, 0);
    -ms-transform: translate(-100px, 0);
    -o-transform: translate(-100px, 0);
    transform: translate(-100px, 0);

    opacity: 0;

    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
}

.animate-right {
    -webkit-transform: translate(100px, 0);
    -moz-transform: translate(100px, 0);
    -ms-transform: translate(100px, 0);
    -o-transform: translate(100px, 0);
    transform: translate(100px, 0);

    opacity: 0;

    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
}

.animate-content {
    -webkit-transform: translate(0, 100px);
    -moz-transform: translate(0, 100px);
    -ms-transform: translate(0, 100px);
    -o-transform: translate(0, 100px);
    transform: translate(0, 100px);

    opacity: 0;

    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
}

img.animate-content {
    opacity: 0.3
}

img.animate-content.begin-animate {
    opacity: 1;
}

@media (max-width: 767px) {
    img.animate-content {
        opacity: 1
    }

    .animate-content,
    .animate-left,
    .animate-right {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);

        opacity: 1;
    }
}



.btn-1 {
    /*    font-size: 32px;
    line-height: 40px;
    color: #20a4cc;
    text-transform: uppercase;
    font-weight: normal;
    padding: 19px 0;
    background: #ffffff;
    border: 0;
    border-radius: 0;
    margin-top: 2vw;
    border: 0;
    position: relative;
    min-width: 326px;
    -webkit-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
    text-align: center;
    display: inline-block;
    text-decoration: none;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .6s;
    transition-duration: .6s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;*/
    font-size: 24px;
    line-height: 40px;
    color: #4c0f1b;
    text-transform: uppercase;
    font-weight: normal;
    padding: 19px 0;
    background: #ffffff;
    border: 0;
    border-radius: 0;
    margin-top: 0;
    border: 0;
    position: relative;
    min-width: 240px;
    -webkit-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
    text-align: center;
    display: inline-block;
    text-decoration: none;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .6s;
    transition-duration: .6s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;

}

.btn-1 svg {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .6s;
    transition-duration: .6s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}

.btn-1 rect {
    fill: none;
    stroke: #b3853d;
    stroke-width: 2;
    stroke-dasharray: 820, 0;
    border-radius: 10px;

    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .6s;
    transition-duration: .6s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}

@media (min-width: 768px) {

    .btn-1:hover {
        border-color: rgba(225, 51, 45, 0);
        font-weight: bold;
        letter-spacing: 1px;

    }

    .btn-1:hover rect {
        stroke: #b3853d;
        stroke-width: 6;
        stroke-dasharray: 30, 612;
        stroke-dashoffset: 80;
        -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
        transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    }
}

.contact_info a span {
    white-space: nowrap;
}

.contact_info a span::before,
.contact_info a span::after {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}

.contact_info a span::before {
    margin-right: 10px;
    content: '[';
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px);
}

.contact_info a span::after {
    margin-left: 10px;
    content: ']';
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
}

.contact_info a:hover span::before,
.contact_info a:hover span::after,
.contact_info a:focus span::before,
.contact_info a:focus span::after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
}

.siteheader-menu {
    display: none;
}


body .intro {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99999;
}

.intro .mainSVG {
    width: 100%;
    height: 100%;
    visibility: hidden;
    fill: currentColor;
    color: #fff;
    position: relative;
    z-index: 99;
}

html.no-js body {
    opacity: 0;
    transition: opacity 0.3s ease;
    -webkit-transition: opacity 0.3s ease;
}

html.js body {
    opacity: 1;
}

.form_field input:-webkit-autofill {
    background: #fff !important;
}

.form_field input:-webkit-autofill,
.form_field input:-webkit-autofill:hover,
.form_field input:-webkit-autofill:focus,
.form_field input:-webkit-autofill,
.form_field textarea:-webkit-autofill,
.form_field textarea:-webkit-autofill:hover .form_field textarea:-webkit-autofill:focus,
.form_field select:-webkit-autofill,
.form_field select:-webkit-autofill:hover,
.form_field select:-webkit-autofill:focus {

    -webkit-box-shadow: 0 0 0px 1000px rgb(255, 255, 255) inset !important;

}

.work-page-content .page_title {
    padding-right: 15%;
    font-size: 6.2vw;
    font-weight: 900;
    line-height: 0.9;
    margin-bottom: 7%;
    color: #fff;
}

.black-bg {
    background: #222 !important;
}

.work-page-content .container-ratio {
    margin-bottom: 0px;
}

.img-responsive {
    max-width: 100% !important;
    width: 100%;
}

.padding-panel {
    padding: 100px 0 50px 0;
    float: left;
    width: 100%;
}

.tooltip-box {
    width: 199px;
    margin: 0 auto;
    margin-bottom: 40px;
}





.work-page-content .site-detail {
    padding: 0;
}

.work-page-content .site-detail .fonts {
    width: 38.385vw;
    margin: 0 auto
}

.work-page-content .site-detail .fonts img {
    width: 100%
}

.work-page-content .site-detail h2.thin {
    margin-bottom: 4.375vw
}

.work-page-content .site-detail h2.thin:before {
    display: block;
    width: 1px;
    height: 6.041vw;
    background: rgba(0, 0, 0, .2);
    margin: 0 auto .52vw
}

.work-page-content .site-detail h4 {
    margin-bottom: 2.031vw;
    font-size: 24px;
    color: #fff;
    text-align: center;
    font-weight: 300;
    padding-bottom: 4vw;
    position: relative;
}

.work-page-content .site-detail h4:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 50px;
    background: #646161;
    bottom: 0;
    left: 50%;
}

.work-page-content .site-detail ul.colors {
    margin: 0 0 5.208vw;
    padding: 0;
    list-style: none;
    text-align: center
}

.work-page-content .site-detail ul.colors li {
    display: inline-block;
    height: 3.021vw;
    width: 3.021vw;
    margin-right: .833vw;
    border-radius: 50%
}

.work-page-content .site-detail ul.colors li:last-child {
    margin-right: 0
}

.work-page-content .site-detail ul.colors .blue {
    background: #198ed7
}

.work-page-content .site-detail ul.colors .light-green {
    background: #4abbb7
}

.work-page-content .site-detail ul.colors .green {
    background: #85ba6a
}

.work-page-content .site-detail ul.colors .mustard {
    background: #ceb944
}

.work-page-content .site-detail ul.colors .light,
.work-page-content .site-detail ul.colors .light1 {
    background: #d7ebe2
}

.work-page-content .site-detail ul.colors .dark-mustard {
    background: #9a790a
}

.work-page-content .site-detail ul.colors .darkblue {
    background: #282c49
}

.work-page-content .site-detail ul.colors .skin {
    background: #eddfb1
}

.work-page-content .site-detail ul.colors .dark-green {
    background: #6bad94
}

.work-page-content .site-detail ul.colors .brown {
    background: #ad6913
}

.work-page-content .site-detail ul.colors .clay {
    background: #787878
}

.work-page-content .site-detail ul.colors .light-blue {
    background: #cddde6
}

.work-page-content .site-detail ul.colors .light-grey {
    background: #eaeaea
}

.work-page-content .site-detail ul.colors .dark-grey {
    background: #191919
}

.work-page-content .site-detail ul.colors .pale-blue {
    background: #00c0f3
}

.work-page-content .site-detail ul.colors .pale-grey {
    background: #464644
}

.work-page-content .site-detail ul.colors .pale-green {
    background: #a8ca41
}

.work-page-content .site-detail ul.colors .purple {
    background: #4b1286
}

.work-page-content .site-detail ul.colors .yellow {
    background: #fec848
}

.work-page-content .site-detail ul.colors .light-brown {
    background: #a98b56;
}

.work-page-content .site-detail ul.colors .color-1 {
    background: #6999ca
}

.work-page-content .site-detail ul.colors .color-2 {
    background: #ccdff1
}

.work-page-content .site-detail ul.colors .color-3 {
    background: #464644
}

.work-page-content .site-detail ul.colors .color-4 {
    background: #20a4cc
}

.work-page-content .site-detail ul.colors .color-5 {
    background: #d8ecf3
}

.content .site-detail ul.colors li:nth-child(1) {
    transition-delay: .1s;
}

.work-page-content .site-detail ul.colors li:nth-child(2) {
    transition-delay: .2s;
}

.work-page-content .site-detail ul.colors li:nth-child(3) {
    transition-delay: .3s;
}

.work-page-content .site-detail ul.colors li:nth-child(4) {
    transition-delay: .4s;
}

.work-page-content .site-detail ul.colors li:nth-child(5) {
    transition-delay: .5s;
}

.work-page-content .site-detail ul.colors li:nth-child(6) {
    transition-delay: .6s;
}

.work-page-content .site-detail ul.colors li:nth-child(7) {
    transition-delay: .7s;
}

.mobile-design {
    width: 100%;
    background: #222;
    padding: 0 3%;
    text-align: center;
    float: left;
}

.mobile-design .mobilbox {
    float: left;
    padding: 0 2%;
    width: 33.33%;
}

.mobile-design .mobile-design-01 {
    margin-top: 300px;
}

.saavi-gallery-list {
    float: left;
    width: 100%;
    background: #222;
    margin: 0;
    padding: 0px;
    text-align: center;
}

.main-gallery {
    width: 78%;
    padding: 0;
    margin: 0 auto;
}

.gallery-01 {
    float: left;
    width: 50%;
}

.saavi-gallery-list li {
    float: left;
    padding: 15px;
    width: 100%;
    list-style: none;
}

.gallery-01 img {
    width: 100%;
}

.next-btn-sec {
    padding: 50px 0;
    text-align: center;
    float: left;
    width: 100%;
    background: #222;
}

.next-btn-sec a {
    background: none;
}

.work-page-content img {
    max-width: 100%;
}


.white-color {
    color: #fff !important;
}

.portfolio-bg p {
    color: #fff !important;
}


.full-content .middle_content {
    text-align: center
}

.full-content {
    text-align: center;
}

.text-left {
    text-align: left !important;
}



@media(min-width:1921px) {
    .mobile-design {
        padding: 0px;
        width: 1605px;
        margin: 0 auto;
        float: none;
    }
}

@media(max-width:1200px) {
    .work-page-content .site-detail h4 {
        padding-bottom: 60px;
    }
}

@media(min-width:320px) and (max-width:767px) {
    .case_content p {
        text-align: left;
    }

    .padding-panel {
        padding: 40px 0 30px;
    }

    .mobile-design .mobile-design-01 {
        margin-top: 90px;
    }

    .main-gallery {
        width: 94%;
    }

    .saavi-gallery-list li {
        padding: 7px 10px;
    }

    .work-page-content .page_title {
        font-size: 38px;
        line-height: 1em;
        padding-right: 0;
    }

    .work-page-content .case_content p {
        font-size: 19px !important;
        line-height: 26px;
        text-align: lef !importantt;
    }

    .work-page-content .case_content {
        padding: 0 9%;
        padding-top: 90px;
        text-align: left;
    }

    .work-page-content .case_banner.flex.flex-align-center {
        -webkit-align-items: flex-start;
        -ms-flex-align: flex-start;
        align-items flex-start
    }

    .next-btn-sec {
        text-align: center;
        float: none;
        width: 220px;
        margin: 0 auto;
        clear: left;
        padding: 40px 0 80px 0;
    }

    .move-top {
        margin-top: 0px;
    }

    .work-page-content .site-detail .fonts {
        width: 85%;
    }

    .work-page-content .site-detail ul.colors li {
        width: 50px;
        height: 50px;
    }

    .case_banner {
        height: auto !important;
    }

    .back_btn {
        width: 20px;
        height: 40px;
    }

}

@media(max-width:600px) {

    .hidden-xs {
        display: none;
    }
}



/* Slider */
.slick-slider {
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before,
.slick-track:after {
    display: table;

    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;

    height: auto;

    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

/* contact css start here */
.contact_content {
    padding-top: 265px;
    background: url(../images/contact-bg.jpg) no-repeat top center;
    background-size: 100% auto;
    padding-left: 9%;
    padding-right: 9%;
}

.inside_content {
    padding-left: 9%;
    padding-right: 9%;
}

.page_title {
    padding-right: 33%;
    font-size: 6.2vw;
    font-weight: 900;
    line-height: 0.9;
    margin-bottom: 7%;
}

.page_title span {
    color: #20a4cc;
    display: block;
}

.banner_content p {
    font-size: 1.77vw;
    line-height: 1.2;
    color: #4b4b4b;
    font-family: "Roboto Slab", serif;
    padding-right: 10%;
}

.wrap-content {
    margin-top: 3%;
    position: relative;
    margin-bottom: 3%;
}

.contact-info {
    color: #464646;
    font-size: 1vw;
    line-height: 1em;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-right: 15%;
    margin-bottom: 2%;
}

.contact-info .fa {
    display: block;
    text-align: center;
    font-size: 2vw;
    margin-bottom: 10px;
    color: #c8c8c8;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.contact-info a {
    color: #464646;
    text-decoration: none;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.contact-info a:hover .fa,
.contact-info a:hover {
    color: #b3853d;
}

.form_field .half {
    width: 49%;
    position: relative;
    margin-bottom: 25px;
}

.form_field .field_set {
    position: relative;
    margin-bottom: 20px;
}

.form_field .full {
    width: 100%;
    position: relative;
    margin-bottom: 25px;
}

.form_field input[type="text"],
.form_field input[type="email"],
.form_field input[type="date"],
.form_field input[type="tel"],
.form_field input[type="number"],
.form_field input[type="url"],
.form_field textarea {
    height: 30px;
    padding: 0px;
    border-bottom: 1px solid #c2c2c2;
    font-size: 11px;
    line-height: 14px;
    padding: 7px 0;
}

.form_field textarea ~ .input__label,
.form_field input[type="text"] ~ .input__label,
.form_field input[type="email"] ~ .input__label,
.form_field input[type="date"] ~ .input__label,
.form_field input[type="tel"] ~ .input__label,
.form_field input[type="number"] ~ .input__label,
.form_field input[type="url"] ~ .input__label {
    height: 30px;
    padding: 0px;
    font-size: 11px;
    line-height: 14px;
    padding: 7px 0;
}

.form_field input[type="text"],
.form_field input[type="email"],
.form_field input[type="date"],
.form_field input[type="tel"],
.form_field input[type="number"],
.form_field input[type="url"] {
    width: 100%;
    border: 0;
    font-size: 1vw;
    padding: 4% 30px 2% 0%;
    /* border-radius: 10px; */
    color: #4f4f4f;
    line-height: 1.4;
    border-radius: 0;
    /* box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.34); */
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    border-bottom: 2px solid #c2c2c2;
    background: transparent;
}

.form_field textarea {
    width: 100%;
    border: 0;
    font-size: 1.5625vw;
    padding: 5% 0%;
    /* border-radius: 10px; */
    color: #4f4f4f;
    line-height: 1.4;
    border-radius: 0;
    /* box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.34); */

    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    border-bottom: 2px solid #c2c2c2;
    background: transparent;
    /* height: 370px; */
    resize: none;

    -webkit-appearance: none;
    text-indent: 0;
}

.form_field .field_set.equal_height {
    height: calc(100% - 25px);
}

.form_field .field_set.equal_height textarea {
    height: 100%;
}

.focus-border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    background-color: #b3853d;
    transition: 0.4s;
    -webkit-transition: 0.4s;
}

.form_field textarea ~ .input__label,
.form_field input[type="text"] ~ .input__label,
.form_field input[type="email"] ~ .input__label,
.form_field input[type="date"] ~ .input__label,
.form_field input[type="tel"] ~ .input__label,
.form_field input[type="number"] ~ .input__label,
.form_field input[type="url"] ~ .input__label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    font-size: 1vw;
    color: #4f4f4f;
    top: 0%;
    transform: translateY(-0%);
    -webkit-transform: translateY(-0%);
    padding: 3% 0;
}

.form_field textarea:hover ~ .focus-border,
.form_field textarea:focus ~ .focus-border,
.form_field input[type="text"]:hover ~ .focus-border,
.form_field input[type="email"]:hover ~ .focus-border,
.form_field input[type="date"]:hover ~ .focus-border,
.form_field input[type="tel"]:hover ~ .focus-border,
.form_field input[type="number"]:hover ~ .focus-border,
.form_field input[type="url"]:hover ~ .focus-border,
.form_field input[type="text"]:focus ~ .focus-border,
.form_field input[type="email"]:focus ~ .focus-border,
.form_field input[type="date"]:focus ~ .focus-border,
.form_field input[type="tel"]:focus ~ .focus-border,
.form_field input[type="number"]:focus ~ .focus-border,
.form_field input[type="url"]:focus ~ .focus-border {
    width: 100%;
}

.form_field .input--filled textarea ~ .input__label,
.form_field .input--filled input[type="text"] ~ .input__label,
.form_field .input--filled input[type="email"] ~ .input__label,
.form_field .input--filled input[type="date"] ~ .input__label,
.form_field .input--filled input[type="tel"] ~ .input__label,
.form_field .input--filled input[type="number"] ~ .input__label,
.form_field .input--filled input[type="url"] ~ .input__label,
.form_field textarea:focus ~ .input__label,
.form_field input[type="text"]:focus ~ .input__label,
.form_field input[type="email"]:focus ~ .input__label,
.form_field input[type="date"]:focus ~ .input__label,
.form_field input[type="tel"]:focus ~ .input__label,
.form_field input[type="number"]:focus ~ .input__label,
.form_field input[type="url"]:focus ~ .input__label {
    -webkit-animation: anim-1 0.3s forwards;
    animation: anim-1 0.3s forwards;
}

.form_field .full input[type="text"],
.form_field .full input[type="email"],
.form_field .full input[type="date"],
.form_field .full input[type="tel"],
.form_field .full input[type="number"],
.form_field .full input[type="url"] {
    padding: 2.8% 0%;
}

.form_field .full input[type="text"] ~ .input__label,
.form_field .full input[type="email"] ~ .input__label,
.form_field .full input[type="date"] ~ .input__label,
.form_field .full input[type="tel"] ~ .input__label,
.form_field .full input[type="number"] ~ .input__label,
.form_field .full input[type="url"] ~ .input__label {
    padding: 2.8% 0%;
}

input[type="submit"] {
    font-size: 1.66vw;
    color: #20a4cc;
    text-transform: uppercase;
    font-weight: bold;
    padding: 2vw 6%;
    background: #ffffff;
    border: 0;
    border-radius: 10px;
    margin-top: 2vw;
    border: 2px solid #20a4cc;

    /* -webkit-box-shadow: 0px 10px 25px 0px rgba(213, 52, 60, 0.15);
    -moz-box-shadow:    0px 10px 25px 0px rgba(213, 52, 60, 0.15);
    box-shadow:         0px 10px 25px 0px rgba(213, 52, 60, 0.15); */

    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #20a4cc;
    color: #fff;
}

.validation-indicator {
    position: absolute;
    right: 10px;
    bottom: 27px;
}

.validation-indicator .fa-check {
    color: green;
    display: none;
}

.validation-indicator .fa-times {
    color: red;
    display: none;
}

.input__field.valid + .validation-indicator .fa-check {
    display: block;
}

.input__field.error + .validation-indicator .fa-times {
    display: block;
}

@-webkit-keyframes anim-1 {
    50% {
        opacity: 0;
        -webkit-transform: translate3d(1em, 0, 0);
        transform: translate3d(1em, 0, 0);
    }

    51% {
        opacity: 0;
        -webkit-transform: translate3d(-1em, -20%, 0);
        transform: translate3d(0, -20%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, -50%, 0);
        transform: translate3d(0, -40%, 0);
        font-size: 1.1vw;
    }
}

@keyframes anim-1 {
    50% {
        opacity: 0;
        -webkit-transform: translate3d(1em, 0, 0);
        transform: translate3d(1em, 0, 0);
    }

    51% {
        opacity: 0;
        -webkit-transform: translate3d(-1em, -20%, 0);
        transform: translate3d(0, -20%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, -50%, 0);
        transform: translate3d(0, -40%, 0);
        font-size: 1.1vw;
    }
}

.contact-info a span::before,
.contact-info a span::after {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}

.contact-info a span::before {
    margin-right: 10px;
    content: "[";
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px);
}

.contact-info a span::after {
    margin-left: 10px;
    content: "]";
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
}

.contact-info a:hover span::before,
.contact-info a:hover span::after,
.contact-info a:focus span::before,
.contact-info a:focus span::after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
}

.error {
    border-bottom: 2px solid red !important;
}


body input:focus,
body input:-webkit-autofill:focus,
body input:-webkit-autofill {
    background-color: transparent !important;
    -webkit-box-shadow: inset 0 0 0px 9999px transparent !important;
}

input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0px 9999px white !important;
}

button.btn.btn-1.with-loader {
    background-image: url(../images/ajax-loader.gif);
    background-repeat: no-repeat;
    background-position: left 20px center;
}

@media (min-width: 768px) and (max-width: 1024px) {

    .form_field .input--filled textarea ~ .input__label,
    .form_field .input--filled input[type="text"] ~ .input__label,
    .form_field .input--filled input[type="email"] ~ .input__label,
    .form_field .input--filled input[type="date"] ~ .input__label,
    .form_field .input--filled input[type="tel"] ~ .input__label,
    .form_field .input--filled input[type="number"] ~ .input__label,
    .form_field .input--filled input[type="url"] ~ .input__label,
    .form_field textarea:focus ~ .input__label,
    .form_field input[type="text"]:focus ~ .input__label,
    .form_field input[type="email"]:focus ~ .input__label,
    .form_field input[type="date"]:focus ~ .input__label,
    .form_field input[type="tel"]:focus ~ .input__label,
    .form_field input[type="number"]:focus ~ .input__label,
    .form_field input[type="url"]:focus ~ .input__label {
        height: auto;
        font-size: 1.5625vw;
        padding: 2.5% 0 0 0;
        z-index: 99;
    }
}

.spinner {
    margin: 0px auto;
    /*width: 2.604vw;
    */
    height: 1.041vw;
    text-align: center;
    font-size: 10px;
    vertical-align: top;
    display: inline-block !important;
    background: none;
    margin: 0 !important;
    width: auto !important;
    position: relative !important;
    right: 0 !important;
    opacity: 1 !important;
    background: none !important;
    position: relative !important;
    top: 0 !important;
}

.spinner > span {
    background: #4c0f1b !important;
    height: 100%;
    width: 1.041vw !important;
    display: inline-block !important;
    position: relative !important;
    top: 0 !important;
    right: 0 !important;
    opacity: 1 !important;
    border-radius: 50%;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
    margin-left: 0.937vw;
}

.spinner > span:first-child {
    margin-left: 0;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

.spinner .rect6 {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}

.spinner .rect7 {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

.spinner .rect8 {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.spinner .rect9 {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}

.spinner .rect10 {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}

@-webkit-keyframes sk-stretchdelay {

    0%,
    40%,
    100% {
        -webkit-transform: scale(0.4);
    }

    20% {
        -webkit-transform: scale(1);
    }
}

@keyframes sk-stretchdelay {

    0%,
    40%,
    100% {
        transform: scale(0.4);
        -webkit-transform: scale(0.4);
    }

    20% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}

.input--filled .input__label {
    z-index: 1 !important;
}

/* contact css end here */

/* service css start here */


.about_content {
    padding-top: 265px;
    background: url(../images/service-top.jpg) no-repeat top center;
    background-size: 100% auto;
    padding-left: 9%;
    padding-right: 9%;
}

.service_content {
    background: url(../images/contact-bg.jpg) no-repeat top center !important;
    background-size: 100% auto !important;
}

.inside_content {
    padding-left: 9%;
    padding-right: 9%;
}

.page_title {
    padding-right: 15%;
    font-size: 3.2vw;
    font-weight: 900;
    line-height: 0.9;
    margin-bottom: 4%;
    /*    padding-right: 15%;
    font-size: 4.2vw;
    font-weight: 900;
    line-height: 0.9;
    margin-bottom: 7%;*/
}

.page_title span {
    color: #b3853d;
    display: block;
}

.banner_content p {
    font-size: 1vw;
    line-height: 1.2;
    color: #4b4b4b;
    font-family: 'Roboto Slab', serif;
    padding-right: 5%;
}

.service-content {
    margin-top: 7%;
    display: block;
    padding-top: 26.05%;
    background: url(../images/service_image.jpg) no-repeat left center;
    background-size: auto 100%;
    margin-bottom: 7%;
}

.service-accordion {
    padding-left: 9%;
    padding-right: 9%;
    margin-bottom: 10%;
}

.service-accordion .panel-group {
    padding-left: 9%;
    padding-right: 9%;
}

.panel-collapse {
    display: none;
}

.panel-collapse.in {
    display: block;
}

.panel-group .panel {
    margin-bottom: 1%;
}

.panel-group .panel-heading .panel-title {
    font-size: 1vw;
    line-height: 1.4;
    font-weight: bold;
    margin: 0;
    color: #4b4b4b;

}

.panel-group .panel-heading .panel-title a {
    color: #4c0f1b;
    text-decoration: none;
}

.panel-group .panel-heading .panel-title .number {
    margin-right: 1%;
    opacity: 0.2;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.panel-group .panel-heading .panel-title:hover .number,
.panel-group .panel.open .panel-heading .panel-title .number {
    opacity: 1;
}

.panel-group .panel.open .panel-heading .panel-title,
.panel-group .panel.open .panel-heading .panel-title a {
    color: #b3853d;
}

.panel-group .panel-body {
    padding: 15px 0 0;
    padding-left: 5%;
}

.panel-body .col-4 {
    width: 30%;
}

.panel-body .col-8 {
    width: 66%;
}

.panel-body p {
    font-size: 1vw;
    line-height: 1.4;
    color: #4b4b4b;
    background: rgba(179, 133, 61, 0.2);
    padding: 10px;
}

.panel-body .col-4 p {
    font-family: 'Roboto Slab', serif;
}

.panel-body ul {
    list-style: none;
    display: block;
    padding: 0;
    margin: 0 0 30px;
}

.panel-body ul li {
    font-size: 1vw;
    line-height: 1.4;
    color: #4b4b4b;
    padding-left: 45px;
    background: url(../images/list-bg.jpg) no-repeat left center;
    margin-bottom: 1%;
    background-size: 2%;
}

.panel-body .btn-link {
    color: #20a4cc;
    border: 1px solid #20a4cc;
    font-size: 28px;
    line-height: 30px;
    border-radius: 10px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 20px 30px;
    display: inline-block;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    text-decoration: none;
}

.panel-body .btn-link:hover {
    color: #fff;
    background: #20a4cc;
}

.work-page-content .site-detail ul.colors li.white {
    background: #fff !important;
}

.work-page-content .site-detail ul.colors li.grey {
    background: none !important;
    border: 1px solid #7b7b7b;
}

.thanku-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.9);
    z-index: 99;
    text-align: center;
    /*transform:scale(0); transition:all 1s ease-in-out;*/
}

.back-to-home-btn {
    background: none !important;
    color: #fff !important;
    padding: 15px 0;
    font-size: 28px;
}

.back-to-home-btn rect {
    stroke: #fff !important
}

.thanku-modal .table {
    display: table;
    width: 100%;
    height: 100%;
}

.thanku-modal .green-thanku-box {
    max-width: 750px;
    margin: 0 auto;
    padding: 50px;
    background: #98bf75;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    width: 94%;
}

.thanku-modal .table-cell {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

.thanku-modal .heading {
    font-size: 45px;
    color: #fff;
    padding: 10px;
    margin: 0;
}

.thanku-modal p {
    font-size: 22px;
    color: #fff;
    margin: 0px;
    font-family: 'Roboto Slab', serif;
}


.bell-icon img {
    width: 100px;
}

.thanku-modal .green-thanku-box ..back-to-home-btn {
    color: #fff !important;
}



/* service css end here */
.map-link {}

.map-link ul {
    width: 33%;
    float: left;
}

.page_titles {
    /* padding-right: 15%; */
    font-size: 2.2vw;
    font-weight: 900;
    line-height: 0.9;
    margin-bottom: 2%;
    text-align: left;
}

@media (min-width:768px) and (max-width:1024px) {
    #menu-navbar .nav > li > a {
        font-size: 11px;
    }

    #menu-navbar .nav > li:hover > a span.small,
    #menu-navbar .nav > li > a:hover span.small,
    #menu-navbar .nav > li > a span.small {
        font-size: 10px;
    }

    .service-accordion .panel-group {
        padding-left: 10%;
    }
}


@media (min-width:0px) and (max-width:767px) {

    .top-header .logo,
    .top-header .logo img {
        width: 75px;
        height: auto;
        min-width: 75px;
        display: block;
    }

    .navigation_main {
        display: none;
    }

    .top-header {
        top: 25px;
        padding: 0 8.5%;
    }

    .site-footer {
        padding: 45px 0 80px;
    }

    .site-footer .social_links,
    .site-footer .contact_address,
    .site-footer .flex .contact_info {
        width: 100%;
        max-width: 100%;
        padding: 0;
    }

    .max-container {
        width: 100%;
        max-width: 90%;
    }

    .site-footer .flex {
        padding: 0;
        margin-bottom: 30px;
        background: none;
    }

    .site-footer .social_links {
        margin-bottom: 30px;
    }

    .site-footer .flex .contact_info {
        font-size: 13px;
        line-height: 1.2em;
        margin-bottom: 30px;
    }

    .site-footer .flex .contact_info .email {
        background-size: 20px auto;
        padding-top: 21px;
    }

    .site-footer .flex .contact_info .email:hover {
        background-position: center -57px;
    }

    .site-footer .flex .contact_info .call {
        background-size: 18px auto;
        padding-top: 21px;
    }

    .site-footer .flex .contact_info .call:hover {
        background-position: center -45px;
    }

    .site-footer .social_links ul li {

        margin: 0 4px 10px;
    }

    .site-footer .social_links ul li a {
        height: 32px;
        width: 32px;
        background-size: 32px auto !important;
    }

    .site-footer .contact_address p {
        font-size: 13px;
        line-height: 1.4em;
        margin: 0;
    }

    .site-footer .journey_markup .say_hello {
        font-size: 45px;
        line-height: 1.2em;
    }

    .site-footer .journey_markup h3 {
        font-size: 18px;
        line-height: 1.2em;
    }

    .site-footer .journey_markup .btn-link {
        font-size: 13px;
        line-height: 18px;
        padding: 15px;
        min-width: 256px;
        text-align: center;
        border-radius: 5px;
    }

    .site-footer .copy-right {
        font-size: 12px
    }

    .btn-1 {
        font-size: 21px;
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        height: 48px;
        line-height: 22px;
        padding: 12px 0;
        border: 1px solid #4c0f1b;
    }

    .btn-1 svg {
        display: none;
    }
}



@media (min-width:0px) and (max-width:767px) {

    .siteheader-menu {
        position: fixed;
        z-index: 999;
        left: 0;
        bottom: 0;
        width: 100vw;
        height: 65px;

        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;

        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;

        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;

        -ms-flex-pack: justify;
        -webkit-justify-content: space-between;
        justify-content: space-between;

        -ms-flex-line-pack: stretch;
        -webkit-align-content: stretch;
        align-content: stretch;

        -ms-flex-align: stretch;
        -webkit-align-items: stretch;
        align-items: stretch;

        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
    }

    .siteheader-menu.open_menu {
        bottom: 0;
        height: 88vh;
    }

    .siteheader-toggle {
        width: 56px;
        height: 40px;
        background-size: 98px auto;
        background-position: top center;
        margin: 0 auto;
        background-image: url(../images/mobile_menu.png);
        background-repeat: no-repeat;
        cursor: pointer;
    }

    .siteheader-menu.open_menu .siteheader-toggle {
        background-position: bottom center;
        margin-bottom: -1px;
    }

    .menu-content {
        height: calc(100% - 40px);
        background: rgba(0, 0, 0, 0.77);
        width: 100%;
        padding-top: 30px;
        box-sizing: border-box;
        position: relative;
        left: 0;
        bottom: 0;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        overflow: hidden;
    }

    .siteheader-menu.open_menu .menu-content {
        background: rgba(0, 0, 0, 0.9);
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        height: calc(100% - 38px);
        padding-bottom: 112px;
    }

    .siteheader-close,
    .siteheader-open {
        position: absolute;
        left: 0;
        top: 42px;
        width: 100%;
        text-align: center;
        font-size: 10px;
        line-height: 15px;
        color: #929191;
        font-weight: bold;
        text-transform: uppercase;
        z-index: 3;
    }

    .siteheader-menu.open_menu .siteheader-open,
    .siteheader-close {
        opacity: 0;
        visibility: hidden;
    }

    .siteheader-menu.open_menu .siteheader-close {
        opacity: 1;
        visibility: visible;
    }

    .mobile-nav {
        display: block;
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .mobile-nav li {
        display: block;
        text-align: center;
        margin: 5px 0;
        width: 100%;
    }

    .mobile-nav li a {
        color: #fff;
        font-size: 11px;
        line-height: 15px;
        font-weight: 300;
        text-decoration: none !important;
    }

    .mobile-nav li ul {
        padding: 0;
        padding-top: 5px;
    }

    .mobile-nav li span {
        display: block;
        font-size: 21px;
        line-height: 26px;
        font-weight: bold;
    }

    .mobile-nav li span.small {
        font-weight: normal;
        font-size: 9px;
        line-height: 12px;
        font-family: 'Roboto Slab', serif;
    }

    .bottom_menu {
        position: absolute;
        width: 100%;
        background: #000;
        padding: 10px;
        bottom: 0;
        left: 0;
        z-index: 3;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
    }

    .siteheader-menu.open_menu .bottom_menu {
        opacity: 1;
        visibility: visible;
    }

    .bottom_menu .quick-title {
        font-size: 11px;
        line-height: 15px;
        text-align: center;
        color: #fff;
        font-weight: 300;
        margin-bottom: 10px;
    }

    .bottom_menu .quick-cont {
        font-size: 11px;
        line-height: 15px;
        text-align: center;
        color: #373737;
        font-weight: bold;
        margin-bottom: 10px
    }

    .bottom_menu .quick-cont a {
        color: #fff;
        text-decoration: none;
    }

    .bottom_menu .social-menu {
        display: block;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .bottom_menu .social-menu li {
        display: inline-block;
        vertical-align: middle;
        margin: 0 5px;

        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);

        transition: all ease .3s;
        -webkit-transition: all ease .3s;

    }

    .bottom_menu .social-menu li a {
        height: 30px;
        width: 30px;
        background-size: 30px auto !important;
        display: block;
        border-radius: 50%;
        border: 1px solid #686868;
        color: #fff;
        font-size: 22px;
        line-height: 56px;
        text-decoration: none;
        transition: all cubic-bezier(.25, .74, .22, .99) .4s;
        -webkit-transition: all cubic-bezier(.25, .74, .22, .99) .4s;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% auto;
    }

    .bottom_menu .social-menu li:hover a {
        border: 1px solid rgba(255, 255, 255, 1);
        color: #fff;

        transform: scale(1.1);
        -webkit-transform: scale(1.1);
    }

    .bottom_menu .social-menu li.fb a {
        background-image: url(../images/fb.png);
    }

    .bottom_menu .social-menu li.linkdin a {
        background-image: url(../images/in.png);
    }

    .bottom_menu .social-menu li.insta a {
        background-image: url(../images/insta.png);
    }

    .bottom_menu .social-menu li.pin a {
        background-image: url(../images/pin.png);
    }

    .bottom_menu .social-menu li.skype a {
        background-image: url(../images/sk.png);
    }

    .bottom_menu .social-menu li.twitter a {
        background-image: url(../images/twitter.png);
    }



    .has-native-scroll,
    .has-native-scroll body {
        overflow: hidden !important;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        width: 100%;
        height: 100vh
    }

    .has-native-scroll #page {
        position: relative;
        width: 100%;
        height: 100vh;
        overflow-x: hidden;
        overflow-y: visible;
        -webkit-user-drag: none;
        -webkit-overflow-scrolling: touch
    }
}

@media all and (min-width:375px) and (max-width: 767px) and (orientation: portrait) {
    .mobile-nav li a {
        display: block;
        font-size: 12px;
        line-height: 16px;
    }

    .mobile-nav li span {
        font-size: 24px;
        line-height: 26px;
    }

    .mobile-nav li span.small {
        font-size: 10px;
    }

    .siteheader-menu.open_menu .menu-content {
        padding-bottom: 128px;
    }

    .bottom_menu {
        padding: 15px;
    }

    .bottom_menu .quick-title {
        font-size: 12px;
    }

    .bottom_menu .quick-cont {
        font-size: 12px;
    }

    .bottom_menu .quick-cont,
    .bottom_menu .quick-title {
        margin-bottom: 15px;
    }

    .bottom_menu .social-menu li a {
        height: 36px;
        width: 36px;
        background-size: 36px auto !important;
    }

    .mobile-nav {
        display: flex;
    }

    .top-header .logo,
    .top-header .logo img {
        width: 85px;
        max-width: 85px;
    }
}

h3.titlecaps {
    font-size: 24px;
}


.contact-form {
    width: 100%;
    float: left;
    margin-top: 60px;
    margin-bottom: 90px;
}

.address-link {
    width: 31%;
    float: left;
    background: #4c0f1b2b;
    margin: 10px;
    padding: 10px;
    min-height: 250px;
    border-radius: 4px;
}

.address-link p {
    margin-bottom: 0.3em;
    font-size: 18px;
}

.address-link h3 {
    padding-top: 0px;
    font-size: 18px;
    font-weight: 600;
}

.address-link a {
    text-decoration: none;
    color: #4c0f1b;
    font-size: 18px;
}

h3.titlecaps {
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 0px;
}


.gold-loan {
    width: 60%;
    float: left;
}

.calculate-table {
    width: 38%;
    float: left;
}

.procedure-lists {
    width: 90%;
}

.procedure-lists li {
    font-size: 18px;
    line-height: 32px;
}

#customers {
    border-collapse: collapse;
    width: 100%;
}

#customers td,
#customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

.full-width #customers tr:nth-child(odd) {
    color: #fff !important
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4c0f1b;
    color: white;
}

.full-width #customers th {
    background: #b3853d !important;
}

.full-width {
    background: rgb(76, 15, 27);
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    padding: 0px 6vw;
    position: relative;
    overflow: hidden;
    padding-top: 5%;
}

.full-width h2 {
    color: #b3853d !important;
}

.full-width .procedure-lists li {
    color: #ffffff !important;
}

.process-table {
    overflow: hidden;
    width: 90%;
    margin: 0px auto;
    margin-bottom: 7%;
}

/*media query*/

@media (min-width:1024px) and (max-width:1210px) {
    .panel-body ul li {
        background-size: 20px auto;
    }
}

@media (min-width:768px) and (max-width:1024px) {
    .about_content {
        padding-top: 190px;
    }

    .panel-body ul li {
        background-size: 20px auto;
    }

}

@media (min-width:0px) and (max-width:767px) {
    .service-accordion {
        padding-left: 4%;
        padding-right: 4%;
    }

    .validation-indicator {
        bottom: 10px;
    }

    .contact-form {
        margin-top: 0px;
        margin-bottom: 40px;
    }

    .address-link {
        width: 100%;
        background: rgba(179, 133, 61, 0.18823529411764706);
        padding: 10px;
        border-radius: 2px;
        margin: 0px;
        margin-bottom: 12px;
        min-height: 220px;


    }

    .about_content {
        padding-top: 92px;

    }

    .inside_content {
        padding-left: 0;
        padding-right: 0;
    }

    .page_title {
        font-size: 24px;
        line-height: 1em;
        padding-right: 0;
    }

    .banner_content p {
        font-size: 16px;
        line-height: 1.2em;
    }

    .service-content {
        padding-top: 27.45%;
    }

    .service-accordion .panel-group {
        padding-left: 0;
        padding-right: 0;
    }

    .panel-group .panel-heading .panel-title {
        font-size: 16px;
        line-height: 1.2em;
        position: relative;
    }

    .panel-group .panel-heading .panel-title .number {
        position: absolute;
        left: 0;
        top: 0;
    }

    .panel-group .panel-heading .panel-title a {
        padding-left: 26px;
    }

    .panel-group .panel-body {
        padding: 10px 0 0 12px;
    }

    .panel-body .col-8,
    .panel-body .col-4 {
        width: auto;
    }

    .panel-body .col-4 br {
        display: none;
    }

    .panel-body p {
        font-size: 12px;
        line-height: 1.2em;
        margin-bottom: 10px;
    }

    .panel-body ul li {
        font-size: 14px;
        line-height: 1.2em;
        padding-left: 16px;
        background-size: 10px auto;
        margin-bottom: 2%;

    }
}

@media (min-width:375px) and (max-width: 767px) {
    .about_content {
        padding-top: 100px;
        background-size: 130% auto;
    }

    .page_title {
        font-size: 44px;
        line-height: 1.1em;
        margin-bottom: 6%;
    }

    .banner_content p {
        font-size: 14px;
        line-height: 1.4em;
    }

    .service-content {
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .panel-group .panel-heading .panel-title {
        font-size: 22px;
    }

    .panel-group .panel-heading .panel-title a {
        padding-left: 47px;
    }

    .panel-group .panel-body {
        padding-left: 47px;
        padding-top: 5px;
    }

    .panel-body p {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 15px;
    }

    .panel-body ul li {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 5px;
    }
}

@media (min-width: 768px) and (max-width: 840px) {
    .banner_content p {
        font-size: 2vw;
    }

    .panel-group .panel-heading .panel-title {
        font-size: 3.3vw;
    }

    .panel-body ul li,
    .panel-body p {
        font-size: 1.8vw;
    }

    .panel-body ul li {
        background-size: 15px auto;
        padding-left: 35px;
    }

}

@media(max-width:767px) {

    .gold-loan,
    .calculate-table {
        width: 100%;
    }

    .procedure-lists {
        width: 100%;
        padding-left: 18px;
    }

    .gold-loan h2 {
        font-size: 24px;
    }

    .thanku-modal .green-thanku-box {
        padding: 30px 20px;
    }

    .address-link a {
        font-size: 15px;
    }

    .address-link p {
        margin-bottom: 0.3em;
        font-size: 14px;
    }

    h3.titlecaps {
        font-size: 24px;
    }

    .address-link h3 {
        font-size: 15px;
    }

    .thanku-modal .heading {
        font-size: 30px;
    }

    .thanku-modal p {
        font-size: 18px;
        line-height: 26px;
    }

    .bell-icon img {
        width: 60px;
    }

    .back-to-home-btn {
        border: 1px solid #fff;
        margin-top: 24px;
        font-size: 20px;
        line-height: 16px;
        width: 200px;
        float: none;
        min-width: 1px;
    }

}

@media (min-width: 768px) and (max-width: 1024px) {
    .contact_content {
        padding-top: 190px;
    }

    .inside_content {
        padding-left: 0%;
        padding-right: 0%;
    }

    .address-link {
        width: 75%;
    }

    .process-table {
        margin-bottom: 10px;
    }

    .gold-loan,
    .calculate-table {
        width: 100%;
    }

    .gold-loan h2,
    .calculate-table h2 {
        font-size: 24px;
    }

    .procedure-lists {
        padding-left: 20px;
    }
}

@media (min-width: 0px) and (max-width: 767px) {
    .contact_content {
        padding-top: 92px;
        padding-left: 4%;
        padding-right: 4%;
    }
}

.inside_content {
    padding-left: 0;
    padding-right: 0;
}

.wrap-content {
    transform: translateY(0);
    -webkit-transform: translateY(0);
}

.page_title {
    font-size: 24px;
    line-height: 1em;
    padding-right: 0;
}

.banner_content p {
    font-size: 12px;
    line-height: 1.4em;
}

.link_info_buttons {
    padding-right: 0;
    font-size: 14.5px;
}

.link_info_buttons li {
    width: 100%;
    text-align: left;
    margin: 5px 0;
}

.link_info_buttons li .fa {
    display: inline-block;
    position: absolute;
    margin: 0;
    left: 0;
    font-size: 14.5px;
}

.link_info_buttons li a {
    position: relative;
}

.link_info_buttons li span {
    padding-left: 30px;
    position: relative;
}

.link_info_buttons li span:after,
.link_info_buttons li span:before {
    position: absolute;
}

.link_info_buttons li span:before {
    left: -10px;
    top: 1px;
}

.link_info_buttons li span:after {
    right: -10px;
    top: 1px;
}



.focus-border {
    height: 2px;
}



.field.flex {
    -webkit-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
}

.field .btn-1 {
    margin-left: auto;
    margin-right: auto;
}

@-webkit-keyframes anim-1 {
    50% {
        opacity: 0;
        -webkit-transform: translate3d(1em, 0, 0);
        transform: translate3d(1em, 0, 0);
    }

    51% {
        opacity: 0;
        -webkit-transform: translate3d(-1em, -20%, 0);
        transform: translate3d(0, -20%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, -50%, 0);
        transform: translate3d(0, -50%, 0);
        font-size: 9px;
    }
}

@keyframes anim-1 {
    50% {
        opacity: 0;
        -webkit-transform: translate3d(1em, 0, 0);
        transform: translate3d(1em, 0, 0);
    }

    51% {
        opacity: 0;
        -webkit-transform: translate3d(-1em, -20%, 0);
        transform: translate3d(0, -20%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, -50%, 0);
        transform: translate3d(0, -50%, 0);
        font-size: 9px;
    }
}
}

@media (min-width: 375px) and (max-width: 767px) {
    .contact_content {
        padding-top: 100px;
    }

    .page_title {
        font-size: 44px;
        line-height: 1.1em;
        margin-bottom: 8%;
    }

    .banner_content p {
        font-size: 14px;
        line-height: 1.4em;
    }

    .wrap-content {
        margin-top: 9%;
        margin-bottom: 9%;
    }

    .link_info_buttons {
        font-size: 17px;
        line-height: 1.2em;
    }

    .link_info_buttons li {
        margin: 9px 0;
    }

    .link_info_buttons li .fa {
        font-size: 22px;
    }

    .form_field input[type="text"],
    .form_field input[type="email"],
    .form_field input[type="date"],
    .form_field input[type="tel"],
    .form_field input[type="number"],
    .form_field input[type="url"],
    .form_field textarea {
        height: 54px;
        font-size: 14px;
        padding-top: 24px;
    }

    form#contact_form label {
        font-size: 13px !important;
        animation: initial;
        padding-top: 0px !important;
        position: absolute;
        top: 0px;
    }

    .form_field .field_set.equal_height textarea,
    .form_field textarea {
        height: 90px;
        padding: 24px 0 0;
    }

    .no-hover .works-list__inner {
        padding-top: 0px !important;
    }

    .form_field textarea ~ .input__label,
    .form_field input[type="text"] ~ .input__label,
    .form_field input[type="email"] ~ .input__label,
    .form_field input[type="date"] ~ .input__label,
    .form_field input[type="tel"] ~ .input__label,
    .form_field input[type="number"] ~ .input__label,
    .form_field input[type="url"] ~ .input__label {
        height: 50px;
        font-size: 14px;
        line-height: 14px;
        padding: 15px 0;
    }

    .form_field .input--filled textarea ~ .input__label,
    .form_field .input--filled input[type="text"] ~ .input__label,
    .form_field .input--filled input[type="email"] ~ .input__label,
    .form_field .input--filled input[type="date"] ~ .input__label,
    .form_field .input--filled input[type="tel"] ~ .input__label,
    .form_field .input--filled input[type="number"] ~ .input__label,
    .form_field .input--filled input[type="url"] ~ .input__label,
    .form_field textarea:focus ~ .input__label,
    .form_field input[type="text"]:focus ~ .input__label,
    .form_field input[type="email"]:focus ~ .input__label,
    .form_field input[type="date"]:focus ~ .input__label,
    .form_field input[type="tel"]:focus ~ .input__label,
    .form_field input[type="number"]:focus ~ .input__label,
    .form_field input[type="url"]:focus ~ .input__label {
        height: auto;
        font-size: 14px;
        line-height: 14px;
        padding: 10px 0 0 0;
        z-index: 99;
    }

    @-webkit-keyframes anim-1 {
        50% {
            opacity: 0;
            -webkit-transform: translate3d(1em, 0, 0);
            transform: translate3d(1em, 0, 0);
        }

        51% {
            opacity: 0;
            -webkit-transform: translate3d(-1em, -20%, 0);
            transform: translate3d(0, -20%, 0);
        }

        100% {
            opacity: 1;
            -webkit-transform: translate3d(0, -40%, 0);
            transform: translate3d(0, -40%, 0);
            font-size: 10px;
        }
    }

    @keyframes anim-1 {
        50% {
            opacity: 0;
            -webkit-transform: translate3d(1em, 0, 0);
            transform: translate3d(1em, 0, 0);
        }

        51% {
            opacity: 0;
            -webkit-transform: translate3d(-1em, -20%, 0);
            transform: translate3d(0, -20%, 0);
        }

        100% {
            opacity: 1;
            -webkit-transform: translate3d(0, -40%, 0);
            transform: translate3d(0, -40%, 0);
            font-size: 10px;
        }
    }
}

@media (min-width: 768px) and (max-width: 840px) {
    .banner_content p {
        font-size: 2vw;
    }

    .contact-info .fa {
        margin-bottom: 10px;
    }

    .contact-info {
        font-size: 1.7vw;
    }

    .focus-border {
        height: 2px;
    }

    .form_field input[type="text"],
    .form_field input[type="email"],
    .form_field input[type="date"],
    .form_field input[type="tel"],
    .form_field input[type="number"],
    .form_field input[type="url"],
    .form_field textarea {
        border-bottom-width: 1px;
    }

    .form_field .half {
        margin-bottom: 0;
    }

    @-webkit-keyframes anim-1 {
        50% {
            opacity: 0;
            -webkit-transform: translate3d(1em, 0, 0);
            transform: translate3d(1em, 0, 0);
        }

        51% {
            opacity: 0;
            -webkit-transform: translate3d(-1em, -20%, 0);
            transform: translate3d(0, -20%, 0);
        }

        100% {
            opacity: 1;
            -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -40%, 0);
            font-size: 10px;
        }
    }

    @keyframes anim-1 {
        50% {
            opacity: 0;
            -webkit-transform: translate3d(1em, 0, 0);
            transform: translate3d(1em, 0, 0);
        }

        51% {
            opacity: 0;
            -webkit-transform: translate3d(-1em, -20%, 0);
            transform: translate3d(0, -20%, 0);
        }

        100% {
            opacity: 1;
            -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -40%, 0);
            font-size: 10px;
        }
    }
}


@media (min-width: 768px) and (max-width: 1520px) {
    .site-footer .social_links ul li {
        margin: 0 5px 20px;
    }

    .inside_content {
        padding-left: 0%;
        padding-right: 0%;
    }

    .max-container {
        max-width: 80%;
    }
}

@media (min-width: 768px) and (max-width: 1260px) {
    .site-footer .social_links ul li a {
        height: 40px;
        width: 40px;
        line-height: 40px;
        background-size: 38px auto !important;
    }

    .site-footer .contact_address p,
    .site-footer .flex .contact_info {
        font-size: 14px;
    }

    .site-footer .flex .contact_info {
        padding-right: 6%;
    }

    .site-footer .journey_markup .btn-link {
        font-size: 20px;
        padding: 20px 50px;
    }

    .max-container {
        max-width: 85%;
    }

    .site-footer .social_links ul li {
        margin: 0 5px 10px;
    }

    .site-footer .flex .contact_info {
        padding-right: 0;
    }

    .site-footer .copy-right {
        font-size: 14px;
    }

    .btn-1 {
        min-width: 250px;
        font-size: 24px;
        padding: 10px 0;
    }

    .btn-1:hover rect {
        stroke-dasharray: 30, 476;
    }
}

@media (min-width: 768px) and (max-width: 940px) {
    .btn-1 {
        min-width: 210px;
        font-size: 20px;
        padding: 10px 0;
        line-height: 24px;
    }

    .btn-1:hover rect {
        stroke-dasharray: 30, 398;
    }

    .slider-for .flex .quote-content p {
        font-size: 12px;
    }

    .slider-for .flex .quote-content > :first-child {
        margin-top: 12%;
    }
}

@media (min-width:768px) and (max-width: 840px) {
    #menu-navbar .nav > li > a span {
        font-size: 4vw;
    }

    #menu-navbar .nav > li {
        -webkit-align-items: flex-start;
        -ms-flex-align: flex-start;
        align-items: flex-start;
        padding: 0 5%;
    }


    .animate-left,
    .animate-right,
    .animate-content {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);

        opacity: 1;

        -webkit-transition: all ease .5s;
        -moz-transition: all ease .5s;
        -o-transition: all ease .5s;
        transition: all ease .5s;
    }

}

/*loading css*/
.dot,
.icon {
    text-align: center
}

.main-loader {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #4c101b;
    /* background: #a72453;
            background: -moz-linear-gradient(top, #a72453 0, #79367f 63%, #79367f 100%);
            background: -webkit-linear-gradient(top, #a72453 0, #79367f 63%, #79367f 100%);
            background: linear-gradient(to bottom, #a72453 0, #79367f 63%, #79367f 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a72453', endColorstr='#79367f', GradientType=0); */
    z-index: 99999;
}

.screen-overlay,
body {
    background: #ffffff
}

.icon {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    margin: 0 auto;
    left: 50%
}

.screen-overlay {
    z-index: 998;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    transition: all ease .5s
}

.loaded .screen-overlay {
    transition-delay: .5s;
    opacity: 0;
    z-index: -998
}

.outer-layer {
    width: 402px;
    height: 114px;
    position: relative;
    margin: 0 auto
}

.dot,
.image-load {
    left: 0;
    position: absolute
}

@-webkit-keyframes SkLgXTFYahz_HJRA_JEpG_Animation {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    6.67% {
        -webkit-transform: rotate(-8deg);
        transform: rotate(-8deg)
    }

    100%,
    13.33% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
}

@keyframes SkLgXTFYahz_HJRA_JEpG_Animation {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    6.67% {
        -webkit-transform: rotate(-8deg);
        transform: rotate(-8deg)
    }

    100%,
    13.33% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
}

@-webkit-keyframes SkLgXTFYahz_Hyy3OyEaM_Animation {

    0%,
    13.33%,
    20% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }

    26.67% {
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1)
    }

    33.33%,
    40% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }

    46.67% {
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1)
    }

    53.33%,
    60% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }

    66.67% {
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1)
    }

    100%,
    73.33%,
    80% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }
}

@keyframes SkLgXTFYahz_Hyy3OyEaM_Animation {

    0%,
    13.33%,
    20% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }

    26.67% {
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1)
    }

    33.33%,
    40% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }

    46.67% {
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1)
    }

    53.33%,
    60% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }

    66.67% {
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1)
    }

    100%,
    73.33%,
    80% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }
}

@-webkit-keyframes SkLgXTFYahz_r1RiuJVaG_Animation {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }

    6.67% {
        -webkit-transform: translate(0, -100px);
        transform: translate(0, -100px)
    }

    13.33%,
    20% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }

    26.67% {
        -webkit-transform: translate(-67px, 0);
        transform: translate(-67px, 0)
    }

    33.33%,
    40% {
        -webkit-transform: translate(-134px, 0);
        transform: translate(-134px, 0)
    }

    46.67% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }

    53.33%,
    60% {
        -webkit-transform: translate(134px, 0);
        transform: translate(134px, 0)
    }

    66.67% {
        -webkit-transform: translate(67px, 0);
        transform: translate(67px, 0)
    }

    100%,
    73.33%,
    80% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@keyframes SkLgXTFYahz_r1RiuJVaG_Animation {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }

    6.67% {
        -webkit-transform: translate(0, -100px);
        transform: translate(0, -100px)
    }

    13.33%,
    20% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }

    26.67% {
        -webkit-transform: translate(-67px, 0);
        transform: translate(-67px, 0)
    }

    33.33%,
    40% {
        -webkit-transform: translate(-134px, 0);
        transform: translate(-134px, 0)
    }

    46.67% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }

    53.33%,
    60% {
        -webkit-transform: translate(134px, 0);
        transform: translate(134px, 0)
    }

    66.67% {
        -webkit-transform: translate(67px, 0);
        transform: translate(67px, 0)
    }

    100%,
    73.33%,
    80% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@-webkit-keyframes rkXxQTYYTnG_Animation {
    0% {
        opacity: 1
    }

    13.33%,
    93.33% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes rkXxQTYYTnG_Animation {
    0% {
        opacity: 1
    }

    13.33%,
    93.33% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-webkit-keyframes rkOXaYYa3M_BJVcuJNTf_Animation {
    40% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }

    46.67% {
        -webkit-transform: scale(.9, .9);
        transform: scale(.9, .9)
    }

    53.33%,
    60%,
    80% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }

    86.67% {
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1)
    }

    0%,
    100%,
    93.33% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }
}

@keyframes rkOXaYYa3M_BJVcuJNTf_Animation {
    40% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }

    46.67% {
        -webkit-transform: scale(.9, .9);
        transform: scale(.9, .9)
    }

    53.33%,
    60%,
    80% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }

    86.67% {
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1)
    }

    0%,
    100%,
    93.33% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }
}

@-webkit-keyframes rkOXaYYa3M_rJf9u1Eaf_Animation {
    40% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }

    46.67% {
        -webkit-transform: translate(-134px, 0);
        transform: translate(-134px, 0)
    }

    53.33%,
    60%,
    80% {
        -webkit-transform: translate(-268px, 0);
        transform: translate(-268px, 0)
    }

    86.67% {
        -webkit-transform: translate(-134px, 0);
        transform: translate(-134px, 0)
    }

    0%,
    100%,
    93.33% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@keyframes rkOXaYYa3M_rJf9u1Eaf_Animation {
    40% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }

    46.67% {
        -webkit-transform: translate(-134px, 0);
        transform: translate(-134px, 0)
    }

    53.33%,
    60%,
    80% {
        -webkit-transform: translate(-268px, 0);
        transform: translate(-268px, 0)
    }

    86.67% {
        -webkit-transform: translate(-134px, 0);
        transform: translate(-134px, 0)
    }

    0%,
    100%,
    93.33% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@-webkit-keyframes rJxXatK6hf_SkoFu1Epf_Animation {
    20% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }

    26.67% {
        -webkit-transform: scale(.9, .9);
        transform: scale(.9, .9)
    }

    33.33%,
    40%,
    60% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }

    66.67% {
        -webkit-transform: scale(.9, .9);
        transform: scale(.9, .9)
    }

    73.33%,
    80% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }

    86.67% {
        -webkit-transform: scale(.9, .9);
        transform: scale(.9, .9)
    }

    0%,
    100%,
    93.33% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }
}

@keyframes rJxXatK6hf_SkoFu1Epf_Animation {
    20% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }

    26.67% {
        -webkit-transform: scale(.9, .9);
        transform: scale(.9, .9)
    }

    33.33%,
    40%,
    60% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }

    66.67% {
        -webkit-transform: scale(.9, .9);
        transform: scale(.9, .9)
    }

    73.33%,
    80% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }

    86.67% {
        -webkit-transform: scale(.9, .9);
        transform: scale(.9, .9)
    }

    0%,
    100%,
    93.33% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }
}

@-webkit-keyframes rJxXatK6hf_rJOt_14pz_Animation {
    20% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }

    26.67% {
        -webkit-transform: translate(67px, 0);
        transform: translate(67px, 0)
    }

    33.33%,
    40%,
    60% {
        -webkit-transform: translate(134px, 0);
        transform: translate(134px, 0)
    }

    66.67% {
        -webkit-transform: translate(201px, 0);
        transform: translate(201px, 0)
    }

    73.33%,
    80% {
        -webkit-transform: translate(268px, 0);
        transform: translate(268px, 0)
    }

    86.67% {
        -webkit-transform: translate(134px, 0);
        transform: translate(134px, 0)
    }

    0%,
    100%,
    93.33% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@keyframes rJxXatK6hf_rJOt_14pz_Animation {
    20% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }

    26.67% {
        -webkit-transform: translate(67px, 0);
        transform: translate(67px, 0)
    }

    33.33%,
    40%,
    60% {
        -webkit-transform: translate(134px, 0);
        transform: translate(134px, 0)
    }

    66.67% {
        -webkit-transform: translate(201px, 0);
        transform: translate(201px, 0)
    }

    73.33%,
    80% {
        -webkit-transform: translate(268px, 0);
        transform: translate(268px, 0)
    }

    86.67% {
        -webkit-transform: translate(134px, 0);
        transform: translate(134px, 0)
    }

    0%,
    100%,
    93.33% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

#B1XatYT3G * {
    -webkit-animation-duration: 7.5s;
    animation-duration: 7.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
    animation-timing-function: cubic-bezier(0, 0, 1, 1)
}

#rJxXatK6hf_rJOt_14pz {
    -webkit-animation-name: rJxXatK6hf_rJOt_14pz_Animation;
    animation-name: rJxXatK6hf_rJOt_14pz_Animation;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    transform-box: fill-box;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0)
}

#rJxXatK6hf_SkoFu1Epf,
#rkOXaYYa3M_rJf9u1Eaf {
    -webkit-transform-origin: 50% 50%;
    transform-box: fill-box
}

#rJxXatK6hf_SkoFu1Epf {
    -webkit-animation-name: rJxXatK6hf_SkoFu1Epf_Animation;
    animation-name: rJxXatK6hf_SkoFu1Epf_Animation;
    transform-origin: 50% 50%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1)
}

#rkOXaYYa3M_rJf9u1Eaf {
    -webkit-animation-name: rkOXaYYa3M_rJf9u1Eaf_Animation;
    animation-name: rkOXaYYa3M_rJf9u1Eaf_Animation;
    transform-origin: 50% 50%;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0)
}

#rkOXaYYa3M_BJVcuJNTf {
    -webkit-animation-name: rkOXaYYa3M_BJVcuJNTf_Animation;
    animation-name: rkOXaYYa3M_BJVcuJNTf_Animation;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    transform-box: fill-box;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1)
}

#rkXxQTYYTnG {
    -webkit-animation-name: rkXxQTYYTnG_Animation;
    animation-name: rkXxQTYYTnG_Animation;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    transform-box: fill-box;
    opacity: 1
}

#SkLgXTFYahz_Hyy3OyEaM,
#SkLgXTFYahz_r1RiuJVaG {
    -webkit-transform-origin: 50% 50%;
    transform-box: fill-box
}

#SkLgXTFYahz_r1RiuJVaG {
    -webkit-animation-name: SkLgXTFYahz_r1RiuJVaG_Animation;
    animation-name: SkLgXTFYahz_r1RiuJVaG_Animation;
    transform-origin: 50% 50%;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0)
}

#SkLgXTFYahz_Hyy3OyEaM {
    -webkit-animation-name: SkLgXTFYahz_Hyy3OyEaM_Animation;
    animation-name: SkLgXTFYahz_Hyy3OyEaM_Animation;
    transform-origin: 50% 50%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1)
}

#SkLgXTFYahz_HJRA_JEpG {
    -webkit-animation-name: SkLgXTFYahz_HJRA_JEpG_Animation;
    animation-name: SkLgXTFYahz_HJRA_JEpG_Animation;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    transform-box: fill-box;
    -webkit-transform: rotate(0);
    transform: rotate(0)
}

.image-load {
    max-width: 134px;
    padding: 0 10px;
    top: 0;
    box-sizing: border-box
}

img {
    max-width: 100%
}

.dot {
    right: 0;
    top: 92px
}

div#B1XatYT3G {
    position: relative
}

.image-load:nth-child(2) {
    left: 268px
}

.image-load:nth-child(4) {
    left: 0;
    right: 0;
    margin: 0 auto
}

.image-load {
    width: 134px;
}

@media (max-width: 767px) {
    .outer-layer {
        transform: scale(0.7);
    }
}
